{#def
    game: Game,
    event: Event,
#}
{% set game_requirement = game.game_requirement %}
{% set table_size_requirement = game_requirement.table_size_requirement | GameTableSizeRequirement %}
{% if table_size_requirement == 3 %}
    {% set table_size_requirement = 0 | GameTableSizeRequirement %}
{% endif %}
{% set table_size_notes = game_requirement.table_size_notes %}
{% set equipment_requirement = game_requirement.equipment_requirement | GameEquipmentRequirement %}
{% set equipment_notes = game_requirement.table_size_notes %}
{% set activity_requirement = game_requirement.activity_requirement | GameActivityRequirement %}
{% set activity_notes = game_requirement.activity_notes %}
{% set room_requirement = game_requirement.room_requirement | GameRoomRequirement %}
{% set room_notes = game_requirement.room_notes %}
{% set criteria = table_size_requirement.criteria + equipment_requirement.criteria + activity_requirement.criteria + room_requirement.criteria %}
{% set criteria_time_slots = "time-slot-" ~ (game.game_requirement.available_time_slots | map("swim") | join("|time-slot-")) %}
{% set criteria_gm = "!gm-" ~ swim(game.gamemaster) %}
{% set criteria_string = '["' ~ ((criteria + [criteria_time_slots, criteria_gm]) | join('","')) ~ '"]' %}
<div
    class="game-card relative min-w-32 cursor-grab rounded-box border border-base-300 bg-base-200 p-1"
    {{ "data-criteria='" ~ criteria_string ~ "'" }}
    data-game="{{ swim(game) }}"
    data-gm="{{ swim(game.gamemaster) }}"
    data-times-to-run="{{ game.game_requirement.times_to_run }}"
    data-player-count-minimum="{{ game.player_count_minimum }}"
    data-player-count-optimum="{{ game.player_count_optimum }}"
    data-player-count-maximum="{{ game.player_count_maximum }}"
>
    <div class="flex flex-row justify-between gap-2">
        <h2 class="font-semibold">
            {{ game.name }}
            <span class="hidden font-light group-has-[#minimal-view:checked]:inline"
                >- {{ game.gamemaster.initials }}</span
            >
        </h2>
        <span
            class="icon-[tabler--external-link] cursor-pointer"
            _="on click[ctrlKey] go to url /game/{{ swim(game) }} in new window"
        ></span>
    </div>
    <div class="flex flex-row justify-between gap-2 text-xs group-has-[#minimal-view:checked]:hidden">
        <div data-criteria-match="{{ criteria_gm }}">{{ game.gamemaster.full_name }}</div>
        <div>{{ game.player_count_minimum }}-{{ game.player_count_maximum }}</div>
    </div>
    <div class="flex flex-row justify-between gap-2 group-has-[#minimal-view:checked]:hidden">
        {%
            if
            table_size_requirement or
            table_size_notes or
            equipment_requirement or
            equipment_notes or
            activity_requirement or
            activity_notes or
            room_requirement or
            room_notes
        %}
            <Tooltip align="bottom" class="w-full">
                <div class="flex w-full flex-row">
                    {% for req in [table_size_requirement, equipment_requirement, activity_requirement, room_requirement] %}
                        {% for r in req %}
                            <span
                                data-criteria-match="{{ r.criteria and r.criteria[0] }}"
                                class="{{ r.icons[0] }}"
                            ></span>
                        {% endfor %}
                    {% endfor %}
                    {% if table_size_notes or equipment_notes or activity_notes or room_notes %}
                        <span class="text-xs italic">Notes</span>
                    {% endif %}
                </div>
                <TooltipContent class="text-left">
                    {%
                        for req_title, req, req_notes in [
                            ("Table Size", table_size_requirement, table_size_notes),
                            ("Equipment", equipment_requirement, equipment_notes),
                            ("Activity", activity_requirement, activity_notes),
                            ("Room", room_requirement, room_notes),
                        ]
                    %}
                        {% if req or req_notes %}
                            <p class="underline">{{ req_title }}</p>
                            {% for r in req %}
                                <p data-criteria-match="{{ r.criteria and r.criteria[0] }}">
                                    <span class="{{ r.icons[0] }}"></span> {{ r.notes[0] }}
                                </p>
                            {% endfor %}
                            {% if req_notes %}
                                <p class="italic">{{ req_notes }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </TooltipContent>
            </Tooltip>
        {% else %}
            <div>-</div>
        {% endif %}
    </div>
    <div class="flex flex-row justify-between gap-2 text-xs group-has-[#minimal-view:checked]:hidden">
        <div data-criteria-match="times-to-run">{{ game.game_requirement.times_to_run }}x</div>
        {% if game.submission_status != "Approved" %}
            <span class="{{ game.submission_status.color_classes }} badge-xs">{{ game.submission_status }}</span>
        {% endif %}
        <div data-criteria-match="{{ criteria_time_slots }}" class="flex flex-row gap-[1px] self-end">
            {% for time_slot in event.time_slots %}
                {% if time_slot in game.game_requirement.available_time_slots %}
                    <div class="h-2 w-2 bg-primary in-[.text-error]:bg-error"></div>
                {% else %}
                    <div class="h-2 w-2 border border-primary in-[.text-error]:border-error"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
