{#def
    align: str = "right",
    fallback: bool = True,
#}
{%
    set align_class =
    "tooltip-top" if align == "top" else
    "tooltip-bottom" if align == "bottom" else
    "tooltip-left" if align == "left" else
    "tooltip-right" if align == "right" else
    ""
%}
<div
    {{ attrs.render(class="tooltip " ~ align_class) }}
    {% if fallback %}
        tabindex="0" _="on load or resize from window if window.innerWidth > 768 then add .tooltip remove .collapse else
        add .collapse remove .tooltip end"
    {% endif %}
>
    {{ content }}
</div>
