<footer class="footer mt-auto p-10">
    {# TODO:  #}
    <aside>
        <p>&copy; 2025 Waikato Role-playing Guild</p>
    </aside>
    <nav class="footer sm:footer-horizontal">
        <nav>
            <h2 class="footer-title">Follow Us</h2>
            <a class="link link-hover">Facebook</a>
            <a class="link link-hover">Instagram</a>
            <a class="link link-hover">Bluesky</a>
            <a class="link link-hover">Reddit</a>
        </nav>
        <nav>
            <h2 class="footer-title">Join the Community</h2>
            <a class="link link-hover">Website</a>
            <a class="link link-hover">Facebook Group</a>
            <a class="link link-hover">Discord Server</a>
            <a class="link link-hover">Society Membership</a>
        </nav>
        <nav>
            <h2 class="footer-title">Contact Us</h2>
            <a class="link link-hover">Email Us</a>
            <a class="link link-hover">Email Newsletter</a>
            <a class="link link-hover">Link Tree</a>
            <p class="text-base-100 m-0 p-0 text-xs font-thin">No hidden dragons here!</p>
        </nav>
    </nav>
</footer>
