<footer class="footer mt-auto p-10">
    {# TODO:  #}
    <aside>
        <p>&copy; 2025 Waikato Role-playing Guild</p>
    </aside>
    <nav class="footer sm:footer-horizontal">
        <nav>
            <h2 class="footer-title">Links</h2>
            <a class="link link-hover" href="https://www.facebook.com/events/1580938195953418">Facebook Event</a>
            <a class="link link-hover" href="https://linktr.ee/waikatoroleplayingguild">Link Tree</a>
            <p class="text-base-100 m-0 p-0 text-xs font-thin">No hidden dragons here!</p>
        </nav>
    </nav>
</footer>
