<nav>
    <ul>
        <li><a hx-get="/test_page_1" hx-target="#content" hx-push-url="true">Test Page 1</a></li>
        <li><a hx-get="/test_page_2" hx-target="#content" hx-push-url="true">Test Page 2</a></li>
    </ul>
</nav>
