{#def
    path: str = "/",
    text: str = "Home",
    path_match: str | None = None,
#}
{% set path_pattern = path_match or ('^' ~ path ~ '$') %}
<button
    hx-get="{{ path }}"
    hx-target="#content"
    hx-push-url="true"
    _="
    on load or htmx:load from #wrapper
        if window.location.pathname.match('{{ path_pattern }}')
            log 'match {{ path_pattern }}'
            add .btn-primary to me
        else
            log 'no match {{ path_pattern }}'
            remove .btn-primary from me
    "
    class="btn text-xl"
>
    {{ content }}
    {{ text }}
</button>
