<nav class="flex flex-row gap-4">
    <layout.NavButton path="/" text="Home"></layout.NavButton>
    <layout.NavButton path="/games" text="Games"></layout.NavButton>
    <layout.NavButton
        path="/profile"
        :text="{{ 'Profile (Logged In)' if request.user else 'Profile (Not Logged In)' }}"
    ></layout.NavButton>
</nav>
