<nav class="navbar bg-base-100 shadow-sm">
    <layout.NavButton path="/" text="Home"></layout.NavButton>
    <layout.NavButton path="/games" text="Games"></layout.NavButton>
    <layout.NavButton
        path="/profile"
        :text="{{ 'Profile (Logged In)' if request.user else 'Profile (Not Logged In)' }}"
    >
    </layout.NavButton>
    <layout.NavButton path="/editor_test" text="Editor Test"></layout.NavButton>
    {% set submit_game_url = "/submit_game/" ~ swim("Event", 1) %}
    <layout.NavButton :path="submit_game_url" text="Submit Game"></layout.NavButton>
</nav>
