{#def
    title: str = "Multislider",
    input_name: str = "multislider",
    constrain_above: str | None = None,
    constrain_below: str | None = None,
    value: int = 5
#}
<span class="not-group-data-[display-titles=True]:hidden">{{ title }}</span>
{%
    set hs = "
    on load
        get closest parent @data-min-value
        then set my @min to it
        then get closest parent @data-max-value
        then set my @max to it
    end
    "
%}
{% if constrain_above %}
    {%
        set hs = hs ~ "
        on input from <input[name='"~ constrain_above ~"'] />
        or indirectUpdate from <input[name='"~ constrain_above ~"'] />
            set :v to its value as Number
            then
            if :v > my value
                set my value to :v
                then trigger input on me
            end"
    %}
{% endif %}
{% if constrain_below %}
    {%
        set hs = hs ~ "
        on input from <input[name='"~ constrain_below ~"'] />
        or indirectUpdate from <input[name='"~ constrain_below ~"'] />
            set :v to its value as Number
            then
            if :v < my value
                set my value to :v
                then trigger input on me
            end"
    %}
{% endif %}
<input type="range" name="{{ input_name }}" value="{{ value }}" class="range range-md w-full" step="1" _="{{ hs }}" />
{%
    set more_hs = "
    on input from <input[name='"~ input_name ~"']/>
    or change from <input[name='"~ input_name ~"']/>
    or load from <input[name='"~ input_name ~"']/>
        set my value to its value as Number
        then trigger input on me
    end

    on change
        set :v to my value as Number
        set <input[name='"~ input_name ~"']/>'s value to :v
        then trigger indirectUpdate on <input[name='"~ input_name ~"']/>
    end
    "
%}
{% if constrain_above %}
    {%
        set more_hs = more_hs ~ "
        on change from <input[name='"~ constrain_above ~"_more'] />
        or indirectUpdate from <input[name='"~ constrain_above ~"_more'] />
            set :v to its value as Number
            then
            if :v > my value
                log me
                log :v
                then set my value to :v
                then trigger change on me
            end
        end"
    %}
{% endif %}
{% if constrain_below %}
    {%
        set more_hs = more_hs ~ "
        on change from <input[name='"~ constrain_below ~"_more'] />
        or indirectUpdate from <input[name='"~ constrain_below ~"_more'] />
            set :v to its value as Number
            then
            if :v < my value
                log me
                log :v
                then set my value to :v
                then trigger change on me
            end
        end"
    %}
{% endif %}
<div>
    <div
        class="row-end-[-1]"
        _="
        on load
            get closest <div[data-allow-more] />
            then set :a to its @data-allow-more
            then log :a
            then if :a != 'True'
                remove me
            end
        end
        "
    >
        <input
            type="number"
            name="{{ input_name }}_more"
            class="input input-xs w-16"
            step="1"
            value="{{ value }}"
            _="{{ more_hs }}"
        />
    </div>
</div>
