{#def
    linking_account_sqid: str | None = None,
    invalid_action_path: str | None = None,
#}
{# TODO: Proper query building #}
{% set query = "" %}
{% if linking_account_sqid is not none %}
    {% set query = query ~ "?linking_account_sqid=" ~ linking_account_sqid %}
{% endif %}
{% if invalid_action_path is not none %}
    {% set query = query ~ ("&" if query else "?") ~ "redirect_path=" ~ invalid_action_path %}
{% endif %}
{% set href = "/oauth2/discord/login" ~ query %}
<a href="{{ href }}" class="btn btn-ghost">
    <img src="static/icons/logos/discord.svg" class="h-8" alt="Discord Logo" />
    <span>{{ 'Link' if linking_account_sqid is not none else 'Sign in with' }} Discord</span>
</a>
