{#def
    link: bool = False
#}
<a href="/oauth2/discord/login" class="btn btn-ghost">
    <img src="static/icons/logos/discord.svg" class="h-8" alt="Discord Logo" />
    <span>{{ 'Link' if link else 'Sign in with' }} Discord</span>
</a>
