{#def
    link: bool = False
#}
<a href="/email_sign_in" class="btn btn-ghost">
    <img src="static/icons/logos/email.svg" class="h-8" alt="Email Logo" />
    <span>{{ 'Link' if link else 'Sign in with' }} Email</span>
</a>
