{#def
    name: str = "field-name",
#}
<div
    id="error-holder-{{ name }}"
    {{ attrs.render(class="text-warning-content bg-warning rounded-box p-2" if content else "hidden") }}
>
    {{ content }}
</div>
