{#def
#}
<div class="fixed right-0 bottom-0 z-10 p-4">
    <button class="btn hidden btn-circle btn-md btn-primary md:btn-lg" title="Scroll to Top" id="scroll-button">
        <span class="icon-[mdi--arrow-top]"></span>
    </button>
</div>
<script>
    convergence.scroll_button("scroll-button");
</script>
