{#def
    id: str = "tiptap",
    form_input_name: str = "tiptap",
    initial_content: str = "",
    debug: bool = False
#}
<div id="{{ id }}"></div>
<input type="hidden" name="{{ form_input_name }}">
<script type="text/javascript">
    let editor = convergence.createEditor(
        document.querySelector("#{{ id }}"),
        document.querySelector("input[name='{{ form_input_name }}']"),
        "{{ initial_content }}",
        {{ 'true' if debug else 'false' }}
    );
</script>
