{#def
    id: str = "tiptap",
    initial_content: str = ""
#}
<div id="{{ id }}" class="tiptap-container"></div>
<script type="text/javascript">
    convergence.createEditor(document.querySelector("#{{ id }}"), "{{ initial_content }}");
</script>
