{#def
    name: str
#}
{% set id = random_id() %}
<div id="{{ id }}">{{ content }}</div>
<script>
    convergence.{{ name }}("{{ id }}");
</script>
{# TODO: This is a very strange pattern, a proper component framework or something would be more ideal #}