{#def
    name: str = "rating-x",
    display_d20: bool = False
#}
<div class="flex flex-row gap-2">
    <!-- prettier-ignore-start -->
    <input
        type="range"
        min="0"
        max="6"
        step="1"
        name="{{ name }}"
        _="on input set @data-value to my.value"
        class="peer range
        data-[value='0']:text-gray-400
        data-[value='1']:text-blue-400
        data-[value='2']:text-indigo-400
        data-[value='3']:text-violet-400
        data-[value='4']:text-red-400
        data-[value='5']:text-orange-400
        data-[value='6']:text-yellow-400
        transition-colors duration-200 ease-in-out
        "
    />
    <span
        class="relative mask h-12 w-12 bg-gray-400 mask-d0 text-xl text-gray-800 after:absolute after:top-1/2 after:left-1/2 after:block after:-translate-x-1/2 after:-translate-y-1/2 after:text-center after:align-middle after:leading-none after:font-bold align-middle
        peer-data-[value='0']:after:content-['0'] peer-data-[value='0']:bg-gray-400 peer-data-[value='0']:mask-d0
        peer-data-[value='1']:after:content-['4'] peer-data-[value='1']:bg-blue-400 peer-data-[value='1']:mask-d4
        peer-data-[value='2']:after:content-['6'] peer-data-[value='2']:bg-indigo-400 peer-data-[value='2']:mask-d6
        peer-data-[value='3']:after:content-['8'] peer-data-[value='3']:bg-violet-400 peer-data-[value='3']:mask-d8
        peer-data-[value='4']:after:content-['10'] peer-data-[value='4']:bg-red-400 peer-data-[value='4']:mask-d10
        peer-data-[value='5']:after:content-['12'] peer-data-[value='5']:bg-orange-400 peer-data-[value='5']:mask-d12
        peer-data-[value='6']:after:content-['20'] peer-data-[value='6']:bg-yellow-400 peer-data-[value='6']:mask-d20
        transition-colors duration-200 ease-in-out
        "
        data-value="0"
    ></span>
    <!-- prettier-ignore-end -->
</div>
{# <div class="rating-xl rating gap-1 text-xl">
    <input
        type="radio"
        name="{{ name }}"
        value="0"
        class="{{ common }} bg-gray-400 mask-d0 after:content-['0']"
        aria-label="D0"
    />
    <input
        type="radio"
        name="{{ name }}"
        value="4"
        class="{{ common }} bg-blue-400 mask-d4 after:content-['4']"
        aria-label="D4"
    />
    <input
        type="radio"
        name="{{ name }}"
        value="6"
        class="{{ common }} bg-indigo-400 mask-d6 after:content-['6']"
        aria-label="D6"
    />
    <input
        type="radio"
        name="{{ name }}"
        value="8"
        class="{{ common }} bg-violet-400 mask-d8 after:content-['8']"
        aria-label="D8"
    />
    <input
        type="radio"
        name="{{ name }}"
        value="10"
        class="{{ common }} bg-red-400 mask-d10 after:content-['10']"
        aria-label="D10"
    />
    <input
        type="radio"
        name="{{ name }}"
        value="12"
        class="{{ common }} bg-orange-400 mask-d12 after:content-['12']"
        aria-label="D12"
    />
    {% if display_d20 %}
        <input
            type="radio"
            name="{{ name }}"
            value="20"
            class="{{ common }} bg-yellow-400 mask-d20 after:content-['20']"
            aria-label="D20"
        />
    {% endif %}
</div> #}
