{#def
    name: str = "rating",
    display_d20: bool = False,
    hx_put_url: str = "",
    starting_value: int = 6
#}
{% set common = "relative mask text-gray-800 after:absolute after:top-1/2 after:left-1/2 after:block after:-translate-x-1/2 after:-translate-y-1/2 after:text-center after:align-middle after:leading-none after:font-bold" %}
<!-- prettier-ignore-start -->
<div class="rounded-selector bg-linear-to-r p-[2px] to-base-100
    has-[input[value='0']:checked]:from-gray-400 has-[input[value='0']:checked]:via-gray-400
    has-[input[value='4']:checked]:from-blue-400 has-[input[value='4']:checked]:via-blue-400
    has-[input[value='6']:checked]:from-indigo-400 has-[input[value='6']:checked]:via-indigo-400
    has-[input[value='8']:checked]:from-violet-400 has-[input[value='8']:checked]:via-violet-400
    has-[input[value='10']:checked]:from-red-400 has-[input[value='10']:checked]:via-red-400
    has-[input[value='12']:checked]:from-orange-400 has-[input[value='12']:checked]:via-orange-400
    has-[input[value='20']:checked]:from-yellow-400 has-[input[value='20']:checked]:via-yellow-400
    has-[input[value='0']:checked]:via-[calc(100%*1/var(--break-divisor))] has-[input[value='0']:checked]:to-[calc(100%*1/var(--break-divisor))]
    has-[input[value='4']:checked]:via-[calc(100%*2/var(--break-divisor))] has-[input[value='4']:checked]:to-[calc(100%*2/var(--break-divisor))]
    has-[input[value='6']:checked]:via-[calc(100%*3/var(--break-divisor))] has-[input[value='6']:checked]:to-[calc(100%*3/var(--break-divisor))]
    has-[input[value='8']:checked]:via-[calc(100%*4/var(--break-divisor))] has-[input[value='8']:checked]:to-[calc(100%*4/var(--break-divisor))]
    has-[input[value='10']:checked]:via-[calc(100%*5/var(--break-divisor))] has-[input[value='10']:checked]:to-[calc(100%*5/var(--break-divisor))]
    has-[input[value='12']:checked]:via-[calc(100%*6/var(--break-divisor))] has-[input[value='12']:checked]:to-[calc(100%*6/var(--break-divisor))]
    has-[input[value='20']:checked]:via-100% has-[input[value='20']:checked]:to-100%
    duration-200 ease-in-out
    transition-[--tw-gradient-via-position,--tw-gradient-to-position,--tw-gradient-from,--tw-gradient-via,--tw-gradient-to]
    has-[input[value='20']]:[--break-divisor:7] [--break-divisor:6]
    "
    >
    <form
        class="rating-xl rating gap-1 rounded-[calc(var(--radius-selector)-2px)] bg-base-100 text-xl"
        hx-swap="none"
        hx-put="{{ hx_put_url }}"
        hx-trigger="change"
    >
        <input
            type="radio"
            name="{{ name }}"
            value="0"
            class="{{ common }} bg-gray-400 mask-d0 after:content-['0']"
            aria-label="D0"
            {% if starting_value == 0 %}checked{% endif %}
        />
        <input
            type="radio"
            name="{{ name }}"
            value="4"
            class="{{ common }} bg-blue-400 mask-d4 after:content-['4']"
            aria-label="D4"
            {% if starting_value == 4 %}checked{% endif %}
        />
        <input
            type="radio"
            name="{{ name }}"
            value="6"
            class="{{ common }} bg-indigo-400 mask-d6 after:content-['6']"
            aria-label="D6"
            {% if starting_value == 6 %}checked{% endif %}
        />
        <input
            type="radio"
            name="{{ name }}"
            value="8"
            class="{{ common }} bg-violet-400 mask-d8 after:content-['8']"
            aria-label="D8"
            {% if starting_value == 8 %}checked{% endif %}
        />
        <input
            type="radio"
            name="{{ name }}"
            value="10"
            class="{{ common }} bg-red-400 mask-d10 after:content-['10']"
            aria-label="D10"
            {% if starting_value == 10 %}checked{% endif %}
        />
        <input
            type="radio"
            name="{{ name }}"
            value="12"
            class="{{ common }} bg-orange-400 mask-d12 after:content-['12']"
            aria-label="D12"
            {% if starting_value == 12 or not display_d20 and starting_value == 20 %}checked{% endif %}
        />
        {% if display_d20 %}
            <input
                type="radio"
                name="{{ name }}"
                value="20"
                class="{{ common }} bg-yellow-400 mask-d20 after:content-['20']"
                aria-label="D20"
                {% if starting_value == 20 %}checked{% endif %}
            />
        {% endif %}
    </form>
</div>
<!-- prettier-ignore-end -->
