{#def
    flag_enum: FlagWithNotes,
    name: str = "flag",
    display_tooltips: bool = True,
    value: FlagWithNotes = 0
#}
{% for f in flag_enum %}
    {% if display_tooltips and f.tooltips[0] %}
        <Tooltip class="w-fit">
            <label class="flex items-center gap-2">
                <input
                    type="checkbox"
                    name="{{ name }}"
                    value="{{ f }}"
                    class="checkbox"
                    {{ "checked" if value and bitwise_and(value, f) }}
                />
                <span>{{ f.form_notes[0] }}</span>
                <TooltipIcon />
            </label>
            <TooltipContent>
                <div class="flex flex-col gap-2">
                    <p>{{ f.tooltips[0] }}</p>
                </div>
            </TooltipContent>
        </Tooltip>
    {% else %}
        <label class="flex items-center gap-2">
            <input type="checkbox" name="{{ name }}" value="{{ f }}" class="checkbox" />
            <span>{{ f.form_notes[0] }}</span>
        </label>
    {% endif %}
{% endfor %}
