{#def
    game: Game,
    submission_status: type[SubmissionStatus],
#}
<li {{ attrs.render(class="list-row items-center") }}>
    <div>{{ game.name }}</div>
    <div></div>
    <form
        hx-trigger="change"
        hx-put="/game/{{ swim(game) }}/submission-status"
        hx-target="closest li"
        hx-swap="outerHTML"
        hx-confirm="Change game submission status of {{ game.name }}?"
    >
        <select class="select {{ game.submission_status.color_classes }}" name="submission_status">
            {% for status in submission_status %}
                <option
                    value="{{ status }}"
                    class="{{ status.color_classes }}"
                    {% if game.submission_status == status %}selected{% endif %}
                >
                    {{ status }}
                </option>
            {% endfor %}
        </select>
    </form>
    <div>({{ game.game_requirement.times_to_run }}<span class="hidden md:inline-block"> &nbsp;sessions</span>)</div>
    <a href="/game/{{ swim(game) }}" class="btn btn-sm btn-neutral btn-outline">View</a>
</li>
