{#def
    game: Game,
    preference: int | None = None,
    all_party_members_over_18: bool = False,
#}
<div class="card rounded-box border border-base-300 bg-base-200">
    <a href="/game/{{ swim(game) }}" class="grow">
        <div class="card-body">
            <h2 class="card-title">{{ game.name }}</h2>
            <div class="italic">{{ game.tagline }}</div>
            <span>{{ game.system.name }} | Run by {{ game.gamemaster.full_name }}</span>
            <div class="flex flex-row flex-wrap gap-2">
                <div class="badge">
                    <span class="font-semibold">{{ game.tone }}</span>
                </div>
                <div class="badge">
                    <span class="font-semibold">{{ game.classification }}</span>
                    <span>rating</span>
                </div>
                <div class="badge">
                    <span class="font-semibold">{{ game.crunch }}</span>
                    <span>complexity</span>
                </div>
            </div>
            <div class="flex flex-row gap-2">
                <div class="font-semibold">Genres</div>
                <div class="flex flex-row flex-wrap gap-2">
                    {% for genre in game.genres %}
                        <div class="badge">{{ genre.name }}</div>
                    {% endfor %}
                </div>
            </div>
            {% if game.content_warnings %}
                <div class="flex flex-row gap-2">
                    <div class="font-semibold">Content</div>
                    <div class="flex flex-row flex-wrap gap-2">
                        {% for tag in game.content_warnings %}
                            <div class="badge badge-warning">{{ tag.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% set game_ksps = game.ksps | GameKSP %}
            {% if game_ksps %}
                <div class="flex flex-row flex-wrap gap-2">
                    {% for note, tooltip, icon in zip(game_ksps.notes, game_ksps.tooltips, game_ksps.icons) %}
                        <div class="badge">
                            <div class="inline-flex gap-2">
                                <span class="{{ icon }} my-auto"></span> <span>{{ note }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </a>
    {% if request.user %}
        <div class="mt-auto flex flex-col items-center gap-2 pb-6">
            {% if request.user.id == game.gamemaster_id %}
                <span class="w-full text-center font-semibold">You are GMing this game.</span>
            {% elif not request.user.over_18 and game.classification.value == "R18" %}
                <span class="w-full text-center font-semibold">You must be 18 or older to play/rate this game.</span>
            {% else %}
                <span class="w-full text-center font-semibold">Preference</span>
                {% set dice_rating_name = "rating-" ~ swim(game) %}
                <DiceRating
                    :display_d20="false"
                    :hx_put_url="'/game/' + swim(game) + '/preference'"
                    :starting_value="preference if preference is not none else 6"
                />
                {% if not all_party_members_over_18 and game.classification.value == "R18" %}
                    <span class="w-full text-center font-semibold"
                        >All party members must be 18 or older to play this game.</span
                    >
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
</div>
