<!doctype html>
<html>
    <head>
        {# User Facing #}
        <title>{{ content | extract_title }}</title>
        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        {# Libraries #}
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        {# Styles #}
        <link href="/static/css/style.css" rel="stylesheet" />
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="wrapper">
            <layout.NavBar />
            <div id="content">{{ content }}</div>
        </div>
    </body>
</html>
