{# def 
    title: str = "Convergence Games",
#}
<!doctype html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        <link href="/static/css/style.css" rel="stylesheet" />
        <title>{{ title }}</title>
    </head>
    <body>
        <div id="wrapper">
            <layout.NavBar />
            <div id="content">{{ content }}</div>
        </div>
    </body>
</html>
