{#def
    form_data: MultiselectFormData
#}
<input
    type="radio"
    name="filter_tab"
    class="tab"
    id="filter_tab_{{ form_data.name }}"
    onchange="event.stopPropagation()"
    aria-label="{{ form_data.label }}"
    _="
    on load or change from the next <div/>
    if <input[name={{ form_data.name }}]:checked/> exists
        set my @aria-label to '{{ form_data.label }}*'
    else
        set my @aria-label to '{{ form_data.label }}'
    end

    on reset from the parentElement of me
        set my @aria-label to '{{ form_data.label }}'
    end
    "
/>
<div class="tab-content rounded-box border border-base-300 bg-base-200 p-4">
    <div class="flex flex-col gap-4">
        {% if form_data.description %}
            <p>{{ form_data.description | safe }}</p>
        {% endif %}
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6">
            {% for option in form_data.options %}
                <label class="flex items-center gap-2">
                    <input
                        type="checkbox"
                        class="checkbox"
                        name="{{ form_data.name }}"
                        value="{{ option.value }}"
                        {% if option.selected %}
                            _="on load set my.checked to true then trigger change"
                        {% endif %}
                    />
                    <span>{{ option.label }}</span>
                </label>
            {% endfor %}
        </div>
        <div class="flex flex-row gap-2">
            <button
                type="button"
                class="btn btn-outline btn-sm btn-secondary"
                _="on click set <input[name={{ form_data.name }}]/>'s checked to true then trigger change on <input[name={{ form_data.name }}]/>"
            >
                Select All
            </button>
            <button
                type="button"
                class="btn btn-outline btn-sm btn-secondary"
                _="on click set <input[name={{ form_data.name }}]/>'s checked to false then trigger change on <input[name={{ form_data.name }}]/>"
            >
                Deselect All
            </button>
            <button
                type="button"
                class="btn btn-outline btn-sm btn-secondary"
                _="on click set #filter_tab_{{ form_data.name }}'s checked to false"
            >
                Hide
            </button>
        </div>
    </div>
</div>
