<!doctype html>
<html>
    <head>
        {# User Facing #}
        <title>{{ content | extract_title }}</title>
        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        {# Libraries #}
        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/preload.js"></script>
        <script src="/static/js/_hyperscript.min.js"></script>
        <script src="/static/js/lib.js"></script>
        {# Styles #}
        <link href="/static/css/style.css" rel="stylesheet" />
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0" />
        <style>
            html {
                overflow-y: scroll;
                scrollbar-gutter: stable both-edges;
            }
        </style>
    </head>
    <body hx-ext="preload">
        <div id="wrapper" class="flex min-h-[100vh] w-full flex-col gap-4">
            <layout.NavBar />
            <main id="content" class="sm:px-4">{{ content }}</main>
            <div class="alert alert-warning alert-soft fixed bottom-0 right-0 font-bold">
                ⚠️DISCLAIMER - NO DESIGN APPLIED⚠️
            </div>
            <layout.Footer />
        </div>
    </body>
</html>
