<!doctype html>
<html>
    <head>
        {# User Facing #}
        <title>{{ content | extract_title }}</title>
        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        {# Libraries #}
        {% if SETTINGS.SENTRY_LOADER_SRC -%}
            <script>
                window.sentryOnLoad = function() {
                    Sentry.init({
                        release: "{{ SETTINGS.RELEASE }}",
                        environment: "{{ SETTINGS.ENVIRONMENT }}",
                        replaysSessionSampleRate: {{ SETTINGS.SENTRY_REPLAYS_SESSION_SAMPLE_RATE }},
                        replaysOnErrorSampleRate: {{ SETTINGS.SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE }},
                        integrations: [
                            Sentry.replayIntegration({
                                blockAllMedia: false,
                                maskAllText: false,
                            })
                        ]
                    });
                }
            </script>
            <script src="{{ SETTINGS.SENTRY_LOADER_SRC }}" crossorigin="anonymous"></script>
        {%- endif %}
        <script src="/static/js/htmx.js"></script>
        <script src="/static/js/preload.js"></script>
        <script src="/static/js/_hyperscript.min.js"></script>
        <script src="{{ SETTINGS.LIB_JS }}"></script>
        {# Styles #}
        <link href="{{ SETTINGS.STYLE_CSS }}" rel="stylesheet" />
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0" />
        <style>
            html {
                overflow-y: scroll;
                scrollbar-gutter: stable both-edges;
            }
        </style>
    </head>
    <body hx-ext="preload">
        <div id="wrapper" class="flex min-h-[100vh] w-full flex-col gap-4">
            <layout.NavBar />
            <main id="content" class="sm:px-4">{{ content }}</main>
            {% if SETTINGS.ENVIRONMENT == "development" %}
                <div class="alert alert-warning alert-soft text-xs fixed bottom-0 right-0 flex flex-col font-bold">
                    <p>⚠️DISCLAIMER - NO DESIGN APPLIED⚠️</p>
                    <p>
                        This is the development build
                        {% if SETTINGS.LAST_UPDATED is not none %}
                            last updated {{ SETTINGS.LAST_UPDATED | nice_time_format }}
                        {% endif %}
                    </p>
                </div>
            {% endif %}
            <layout.Footer />
        </div>
    </body>
    <script>
        if (typeof theme === "undefined") {
            // Set the theme based on localStorage
            const theme = localStorage.getItem("theme");
            if (theme !== null) {
                document.documentElement.setAttribute("data-theme", theme);
            } else {
                // Set the theme based on system preference
                const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
                document.documentElement.setAttribute("data-theme", prefersDarkScheme.matches ? "convergence_dark" : "convergence_light");

                // Listen for changes in the system preference
                prefersDarkScheme.addEventListener("change", (e) => {
                    const newColorScheme = e.matches ? "convergence_dark" : "convergence_light";
                    document.documentElement.setAttribute("data-theme", newColorScheme);
                });
            }
        }
    </script>
</html>
