{#def
    time_slot: TimeSlot,
    party: Party | None = None,
    leader_id: int | None = None,
    max_party_size: int = 3,
#}
<div {{ attrs.render(class="card-body p-0") }} hx-target="this">
    {% if party %}
        {% set invite_link = "/party/join/" ~ swim(time_slot) ~ "/" ~ swim_upper(party) %}
        <div class="grid grid-cols-1 gap-x-4 md:grid-cols-[1fr_16rem]">
            <div class="flex h-full flex-col gap-4">
                <div class="flex flex-row justify-between">
                    <h2 class="card-title">
                        {% if request.user.id == leader_id %}Leading{% else %}In{% endif %} a Party
                    </h2>

                    <div class="flex flex-wrap items-center gap-x-2">
                        <div>
                            <span class="opacity-50">Players: </span>
                            <span class="font-semibold">{{ party.members|length }}/{{ max_party_size }}</span>
                        </div>
                        <div>
                            <span class="opacity-50">Join Code: </span>
                            <span class="font-semibold">{{ swim_upper(party) }}</span>
                        </div>
                    </div>
                </div>
                <div class="flex h-full flex-col gap-2">
                    {% for member in party.members|sort(attribute="full_name") %}
                        <div class="flex items-center gap-2">
                            <div class="flex w-full flex-row items-center gap-2">
                                <span class="font-semibold">
                                    {{ member.full_name }}
                                    {% if member.id == leader_id %}
                                        <span class="icon-[material-symbols--crown]"></span>
                                    {% endif %}
                                </span>
                                {% if request.user.id == leader_id and request.user.id != member.id %}
                                    <button
                                        class="btn ml-auto btn-sm btn-primary"
                                        hx-post="/party/promote/{{ swim(time_slot) }}/{{ swim(member) }}"
                                        hx-confirm="Are you sure you want to promote {{ member.full_name }} to party leader?"
                                    >
                                        Promote
                                    </button>
                                    <button
                                        class="btn btn-sm btn-error"
                                        hx-post="/party/remove/{{ swim(time_slot) }}/{{ swim(member) }}"
                                        hx-confirm="Are you sure you want to remove {{ member.full_name }} from the party?"
                                    >
                                        Remove
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button
                    class="btn mt-auto btn-sm btn-error"
                    hx-post="/party/leave/{{ swim(time_slot) }}"
                    hx-confirm="Are you sure you wish to {{ 'disband' if request.user.id == leader_id else 'leave' }} the party?"
                >
                    {{ "Disband" if request.user.id == leader_id else "Leave" }} Party
                </button>
            </div>
            <div class="collapse-plus collapse px-0 md:collapse-open md:p-0!">
                <input type="checkbox" class="peer px-0 md:hidden" />
                <div class="collapse-title inline px-0 font-semibold peer-checked:hidden md:hidden">
                    Show QR <span class="icon-[bx--qr]"></span>
                </div>
                <div class="collapse-title hidden px-0 font-semibold peer-checked:inline md:hidden">
                    Hide QR <span class="icon-[bx--qr]"></span>
                </div>
                <div class="collapse-content flex flex-col items-center md:p-0!">
                    <QRCode :relative_url="invite_link" class="w-full rounded-box" :scale="10" />
                </div>
            </div>
        </div>
    {% else %}
        <h2 class="card-title">Adventuring Solo</h2>
        <p>You are not currently in a party.</p>
        <p>Join a party to group up together!</p>
        <div class="card-actions justify-start">
            <button class="btn btn-primary" hx-post="/party/host/{{ swim(time_slot) }}">Lead a New Party</button>
            <button class="btn btn-secondary" _="on click join_modal_{{ swim(time_slot) }}.showModal()">
                Join a Party
            </button>

            <dialog id="join_modal_{{ swim(time_slot) }}" class="modal">
                <div class="modal-box">
                    <form method="dialog">
                        <button class="btn absolute top-2 right-2 btn-circle btn-ghost btn-sm">✕</button>
                    </form>
                    <h3 class="text-lg font-bold">Join a Party</h3>
                    <p>Enter the invite code to join a party.</p>
                    <form
                        class="modal-action justify-start"
                        hx-get="/party/join/{{ swim(time_slot) }}/{invite_sqid}"
                        hx-ext="path-params"
                        hx-vals='{"alert-retarget": "#join_modal_{{ swim(time_slot) }}"}'
                    >
                        <input
                            type="text"
                            pattern="[A-Z]*"
                            class="input-bordered input w-full max-w-xs"
                            name="invite_sqid"
                            placeholder="CODE"
                            autocapitalize="characters"
                            onkeyup="this.value = this.value.toUpperCase().replace(/[^A-Z]/g, '')"
                        />
                        <button class="btn" type="submit">Join</button>
                    </form>
                </div>
            </dialog>
        </div>
    {% endif %}
</div>
