{#def
    sort: str,
    url: str,
    target: str = "#content",
    include: str | None = None,
    params: str | None = None,
    active: bool = False,
    desc: bool = False,
#}
<th
    class="cursor-pointer select-none {{ 'bg-base-300' if active }}"
    hx-get="{{ url }}{{ '&' if '?' in url else '?' }}sort={{ sort }}&desc={{ not desc if active else False }}"
    hx-target="{{ target }}"
    {% if include %}hx-include="{{ include }}"{% endif %}
    {% if params %}hx-params="{{ params }}"{% endif %}
    hx-push-url="true"
>
    {{ content }}
    {% if active %}
        <span class="text-xs">
            <span class="icon-[mdi--triangle] {{ 'rotate-180' if desc }}"></span>
        </span>
    {% endif %}
</th>
