{#def
    form_input_name: str = "tiptap",
    initial_content_json: str = "",
    debug: bool = False
#}
{% set id = random_id() %}
<div id="tiptap-{{ id }}"></div>
<script>
    convergence.createEditor(
        document.getElementById("tiptap-{{ id }}"),
        "{{ form_input_name }}",
        {{ initial_content_json | tojson }},
        {{ 'true' if debug else 'false' }}
    );
</script>