{#def
    alerts: list[Alert] = [],
    redirect_text: str | None = None,
    redirect_url: str | None = None,
#}
{% if alerts %}
    <div class="toast z-50" _="on load wait 4000ms then remove me">
        {% for alert in alerts %}
            <div
                class="{{ alert.alert_class }} alert-lg alert max-w-full text-wrap transition-opacity duration-1000 ease-in-out"
                _="on load wait 3000ms then set my.style.opacity to 0"
            >
                {{ alert.message }}
            </div>
        {% endfor %}
        {% if redirect_url is not none %}
            <a href="{{ redirect_url }}">{{ redirect_text if redirect_text is not none else redirect_url }}</a>
        {% endif %}
    </div>
{% endif %}
