{#def
    toggleable: bool = True,
    align: str = "right",
#}
{%
    set align_class =
    "tooltip-top" if align == "top" else
    "tooltip-bottom" if align == "bottom" else
    "tooltip-left" if align == "left" else
    "tooltip-right" if align == "right" else
    ""
%}
<div
    {{ attrs.render(class="tooltip " ~ align_class) }}
    {{ '_="on click add .tooltip-open to me end on click from elsewhere remove .tooltip-open from me"' if toggleable }}
>
    {{ content }}
</div>
