{#def
    user: User,
#}
<tr {{ attrs.render() }}>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>
        {% for login in user.logins %}
            <div>{{ login.provider }}: {{ login.provider_email }}</div>
        {% endfor %}
    </td>
    <td>{{ user.event_statuses[0].d20s if user.event_statuses else 0 }}</td>
    <td>{{ user.event_statuses[0].compensation if user.event_statuses else 0 }}</td>
    <td>
        {% if user.event_roles %}
            {% for role in user.event_roles %}
                <div>{{ role.role }} {{ "(global)" if role.event_id is none }}</div>
            {% endfor %}
        {% else %}
            <span class="text-neutral">No roles</span>
        {% endif %}
    </td>
</tr>
