{#def
    user: User,
    event: Event,
#}
<tr {{ attrs.render() }}>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>
        {% for login in user.logins %}
            <div>{{ login.provider }}: {{ login.provider_email }}</div>
        {% endfor %}
    </td>
    <td>{{ user.over_18 }}</td>
    <td class="flex flex-row gap-1">
        {{ user.latest_d20_transaction.current_balance if user.latest_d20_transaction else 0 }}
        {% set expected_latest_sqid = (', "expected_latest_sqid": "' ~ swim(user.latest_d20_transaction) ~ '"') if user.latest_d20_transaction else "" %}
        <button
            class="btn btn-ghost btn-xs"
            hx-put="/event/{{ swim(event) }}/player/{{ swim(user) }}/d20s"
            hx-vals='{ "delta": 1 {{ expected_latest_sqid }} }'
        >
            +
        </button>
        <button
            class="btn btn-ghost btn-xs"
            hx-put="/event/{{ swim(event) }}/player/{{ swim(user) }}/d20s"
            hx-vals='{ "delta": -1 {{ expected_latest_sqid }} }'
        >
            -
        </button>
    </td>
    <td>
        {{ user.latest_compensation_transaction.current_balance if user.latest_compensation_transaction else 0 }}
        <button class="btn btn-ghost btn-xs">+</button>
        <button class="btn btn-ghost btn-xs">-</button>
    </td>
    <td>
        {% if user.event_roles %}
            {% for role in user.event_roles %}
                <div>{{ role.role }} {{ "(global)" if role.event_id is none }}</div>
            {% endfor %}
        {% else %}
            <span class="text-neutral">No roles</span>
        {% endif %}
    </td>
</tr>
