{#def
    user: User,
    event: Event,
#}
<tr {{ attrs.render() }}>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>
        {% for login in user.logins %}
            <div>{{ login.provider }}: {{ login.provider_email }}</div>
        {% endfor %}
    </td>
    <td>{{ user.over_18 }}</td>
    <UserManageDelta
        :current_value="user.latest_d20_transaction.current_balance if user.latest_d20_transaction else 0"
        :expected_latest_sqid="swim(user.latest_d20_transaction) if user.latest_d20_transaction else None"
        :endpoint="'/event/' + swim(event)  + '/player/' + swim(user) + '/d20s'"
    ></UserManageDelta>
    <UserManageDelta
        :current_value="user.latest_compensation_transaction.current_balance if user.latest_compensation_transaction else 0"
        :expected_latest_sqid="swim(user.latest_compensation_transaction) if user.latest_compensation_transaction else None"
        :endpoint="'/event/' + swim(event)  + '/player/' + swim(user) + '/compensation'"
    ></UserManageDelta>
    <td>
        {% if user.event_roles %}
            {% for role in user.event_roles %}
                <div>{{ role.role }} {{ "(global)" if role.event_id is none }}</div>
            {% endfor %}
        {% else %}
            <span class="text-neutral">No roles</span>
        {% endif %}
    </td>
</tr>
