{#def
    selected_name: str,
    value: str = "",
    name: str = "search",
#}
<div class="search-container flex flex-row gap-4">
    <span>{{ selected_name }}</span>
    <input type="hidden" name="{{ name }}" value="{{ value }}" />
    <span
        class="icon-[system-uicons--cross-circle] size-5 cursor-pointer"
        hx-get="/search/{{ name }}"
        hx-target="closest .search-container"
        hx-swap="outerHTML"
    ></span>
</div>
