{#def
    name: str = "search",
    placeholder: str = ""
#}
<div class="search-container">
    <input
        type="text"
        class="input"
        placeholder="{{ placeholder if placeholder else name.capitalize() ~ '...' }}"
        id="{{ name }}-search"
        name="{{ name }}-search"
        required
    />
    <div
        hx-get="/search/{{ name }}/results"
        hx-vals="js:{search: encodeURIComponent(document.getElementById('{{ name }}-search').value)}"
        hx-trigger="keyup changed from:previous input#{{ name }}-search"
        hx-swap="innerHTML"
    ></div>
</div>
