{#def
    selected_name: str = "",
    name: str = "search",
#}
<div>{{ selected_name }} (NEW!)</div>
<input type="hidden" name="new_{{ name }}" value="{{ selected_name }}" />
<button
    type="button"
    class="btn btn-primary"
    hx-get="/search/{{ name }}"
    hx-target="closest .search-container"
    hx-swap="outerHTML"
>
    Cancel
</button>
