{#def
    name: str = "search",
    results: list[SearchResult] = [],
    search: str = "",
    mode: Literal["select", "checks"] = "select"
#}
<ul class="list rounded-box bg-base-100 absolute z-10 shadow-md">
    {% for result in results %}
        <li
            class="list-row hover:bg-accent cursor-pointer"
            hx-get="/search/{{ name }}/select?sqid={{ swim(result.result) }}"
            hx-trigger="click, keyup[key=='Enter']"
            {% if mode == "select" %}
                hx-target="closest .search-container" hx-swap="outerHTML"
            {% elif mode == "checks" %}
                hx-target="previous .search-chip-container" hx-swap="beforeend" _="on click or keyup[key=='Enter'] get
                the previous
                <input /> then set its value to '' then it.focus() then get the closest
                <ul />
                then remove it"
            {% endif %}
            tabindex="0"
        >
            {{ result.name }}
            {% if result.name != result.match %}<span class="opacity-50">AKA {{ result.match }}</span>{% endif %}
        </li>
    {% endfor %}
    {% if search %}
        <li
            class="list-row hover:bg-accent cursor-pointer"
            hx-get="/search/{{ name }}/new?selected_name={{ search }}"
            hx-trigger="click, keyup[key=='Enter']"
            {% if mode == "select" %}
                hx-target="closest .search-container"
            {% elif mode == "checks" %}
                hx-target="previous .search-chip-container" hx-swap="beforeend" _="on click or keyup[key=='Enter'] get
                the previous
                <input /> then set its value to '' then it.focus() then get the closest
                <ul />
                then remove it"
            {% endif %}
            tabindex="0"
        >
            <span>Create new {{ name }} "{{ search | unquote }}"</span>
            <span class="icon-[mdi--plus-circle-outline] size-6"></span>
        </li>
    {% endif %}
</ul>
