{#def
#}
<form>
    <input type="text" class="form-input" placeholder="Email" name="email" />
    <button class="btn btn-primary" hx-post="/email_sign_in" hx-target="closest form" hx-swap="outerHTML">
        Submit
    </button>
</form>
