{#def
    email: str,
    linking_account_sqid: str | None = None,
#}
<form>
    <input type="hidden" name="email" value="{{ email }}" />
    <div>Please enter the code sent to {{ email }}:</div>
    <input
        type="text"
        class="form-input"
        placeholder="Code"
        name="code"
        pattern="[0-9]{6}"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
        maxlength="6"
    />
    {% set hx_post = "/email_auth/verify_code?linking_account_sqid=" ~ linking_account_sqid if linking_account_sqid is not none else "/email_auth/verify_code" %}
    <a class="btn btn-primary" hx-post="{{ hx_post }}" hx-target="#content">Submit</a>
</form>
