<html>
    <head></head>
    <body>
        <p>Click the link below to sign in:</p>
        <a href="{{ magic_link_url }}">Sign in</a>
        <p>Or copy and paste the code below:</p>
        <p>{{ new_code }}</p>
        <p>(Note: This link is valid until {{ expires_at }})</p>
    </body>
</html>
