<html>
    <head></head>
    <body>
        <div style="margin: 0 auto; text-align: center; display: flex; flex-direction: column; gap: 1rem">
            <h1 style="font-family: 'Josefin Sans', sans-serif; margin: 0; margin-top: 1rem">Sign in to Convergence</h1>
            <div
                style="text-align: center; font-weight: bold; font-size: 4rem; font-family: 'Consolas', monospace; padding: 1rem 2rem; margin: 0 auto; width: fit-content; border: 1px solid black; border-radius: 1rem"
            >
                {{ code }}
            </div>
            <p style="margin: 0;">
                Copy and paste this temporary verification code to sign in. If you didn't try to sign in, you can safely
                ignore this email.
            </p>
            <a>Or click this button to confirm your email:</a>
            <a href="{{ magic_link_url }}">
                <button
                    style="padding: 1rem; border: 1px solid #94341d; background-color: #fcf8f2; color: #94341d; font-weight: bold; font-size: 1.5rem; border-radius: 0.5rem; cursor: pointer"
                >
                    Confirm your email
                </button>
            </a>
            <p style="opacity: 0.5;">(This code is valid until {{ expires_at }})</p>
        </div>
    </body>
</html>
