<Page>
    {% block content %}
        <title>Sign In with Email - Convergence 2025</title>
        <PageContainer size="max-w-screen-sm">
            {% set query = "" %}
            {% if linking_account_sqid is not none %}
                {% set query = query ~ "?linking_account_sqid=" ~ linking_account_sqid %}
            {% endif %}
            {% if invalid_action_path is not none %}
                {% set query = query ~ ("&" if query else "?") ~ "redirect_path=" ~ invalid_action_path %}
            {% endif %}
            {% set href = "/oauth2/discord/login" ~ query %}
            {% set hx_post = "/email_sign_in" ~ query %}
            <form class="flex flex-col gap-4" hx-post="{{ hx_post }}" hx-swap="outerHTML">
                <FieldsetBase>
                    <legend class="fieldset-legend">Sign In with Email</legend>
                    <input type="email" class="input w-full" placeholder="Email" name="email" required />
                </FieldsetBase>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </PageContainer>
    {% endblock %}
</Page>
