<Page>
    {% block content %}
        <title>{{ event.name }} Manage Schedule - Convergence 2025</title>
        <PageContainer size="max-w-full">
            <Component name="event_manage_schedule">
                <table class="schedule-table table table-fixed px-0">
                    <thead>
                        <tr>
                            <th class="sticky top-0 w-16 text-center">Table</th>
                            {% for time_slot in event.time_slots %}
                                <th class="sticky top-0 text-center">{{ time_slot.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for room in event.rooms %}
                            {% set room_facilities = room.facilities | RoomFacility %}
                            <tr>
                                <td colspan="{{ event.time_slots|length + 1 }}" class="text-center font-semibold">
                                    {{ room.name }} - {{ room.description }}
                                    {% for icon in room_facilities.icons %}
                                        <span class="{{ icon }}"></span>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% for table in room.tables %}
                                {% set table_facilities = table.facilities | TableFacility %}
                                <tr>
                                    <td class="h-20 p-0">
                                        <Tooltip>
                                            <div>
                                                <p>{{ table.name }}</p>
                                                <p class="text-xs">
                                                    <span class="{{ table.size.icon }}"></span> {{ table.size }}
                                                </p>
                                                <div class="flex flex-row">
                                                    {% for icon in table_facilities.icons %}
                                                        <span class="{{ icon }}"></span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <TooltipContent>
                                                <p>{{ room.name }} - {{ room.description }} | {{ table.name }}</p>
                                                {% for icon, note in zip(room_facilities.icons, room_facilities.notes) %}
                                                    <p><span class="{{ icon }}"></span> {{ note }} room</p>
                                                {% endfor %}
                                                <p><span class="{{ table.size.icon }}"></span> {{ table.size }}</p>
                                                {% for icon, note in zip(table_facilities.icons, table_facilities.notes) %}
                                                    <p><span class="{{ icon }}"></span> {{ note }}</p>
                                                {% endfor %}
                                            </TooltipContent>
                                        </Tooltip>
                                    </td>
                                    {% for time_slot in event.time_slots %}
                                        <td
                                            class="schedule-table-slot duration-250 border p-0 transition-colors [&>.game-card]:w-full"
                                            data-time-slot-id="{{ time_slot.id }}"
                                            data-table-id="{{ table.id }}"
                                            data-size="{{ table.size }}"
                                        ></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>

                <div>Unsorted Games</div>
                <div class="unscheduled-games flex flex-row flex-wrap gap-2">
                    {% for game in event.games %}
                        {% set game_requirement = game.game_requirement %}
                        {% set table_size_requirement = game_requirement.table_size_requirement | GameTableSizeRequirement %}
                        {% set table_size_notes = game_requirement.table_size_notes %}
                        {% set equipment_requirement = game_requirement.equipment_requirement | GameEquipmentRequirement %}
                        {% set equipment_notes = game_requirement.table_size_notes %}
                        {% set activity_requirement = game_requirement.activity_requirement | GameActivityRequirement %}
                        {% set activity_notes = game_requirement.activity_notes %}
                        {% set room_requirement = game_requirement.room_requirement | GameRoomRequirement %}
                        {% set room_notes = game_requirement.room_notes %}
                        {% for copy in range(game.game_requirement.times_to_run) %}
                            <div
                                class="game-card bg-base-200 rounded-box border-base-300 relative w-fit min-w-32 cursor-move border p-1"
                            >
                                <h2 class="font-semibold">{{ game.name }}</h2>
                                <div class="flex flex-row justify-between gap-2 text-xs">
                                    <div>{{ game.gamemaster.full_name }}</div>
                                    <div>{{ game.player_count_minimum }}-{{ game.player_count_maximum }}</div>
                                </div>
                                <div class="flex flex-row justify-between gap-2">
                                    {%
                                        if
                                        table_size_requirement or
                                        table_size_notes or
                                        equipment_requirement or
                                        equipment_notes or
                                        activity_requirement or
                                        activity_notes or
                                        room_requirement or
                                        room_notes
                                    %}
                                        <Tooltip align="bottom" class="w-full">
                                            <div class="flex w-full flex-row">
                                                {% for req in [table_size_requirement, equipment_requirement, activity_requirement, room_requirement] %}
                                                    {% for icon in req.icons %}
                                                        <span class="{{ icon }}"></span>
                                                    {% endfor %}
                                                {% endfor %}
                                                {% if table_size_notes or equipment_notes or activity_notes or room_notes %}
                                                    <span class="text-xs italic">Notes</span>
                                                {% endif %}
                                            </div>
                                            <TooltipContent class="text-left">
                                                {% if table_size_requirement or table_size_notes %}
                                                    <p class="underline">Table Size</p>
                                                    {% for icon, note in zip(table_size_requirement.icons, table_size_requirement.notes) %}
                                                        <p><span class="{{ icon }}"></span> {{ note }}</p>
                                                    {% endfor %}
                                                    <p class="italic">{{ table_size_notes }}</p>
                                                {% endif %}
                                                {% if equipment_requirement or equipment_notes %}
                                                    <p class="underline">Equipment</p>
                                                    {% for icon, note in zip(equipment_requirement.icons, equipment_requirement.notes) %}
                                                        <p><span class="{{ icon }}"></span> {{ note }}</p>
                                                    {% endfor %}
                                                    <p class="italic">{{ equipment_notes }}</p>
                                                {% endif %}
                                                {% if activity_requirement or activity_notes %}
                                                    <p class="underline">Activity</p>
                                                    {% for icon, note in zip(activity_requirement.icons, activity_requirement.notes) %}
                                                        <p><span class="{{ icon }}"></span> {{ note }}</p>
                                                    {% endfor %}
                                                    <p class="italic">{{ activity_notes }}</p>
                                                {% endif %}
                                                {% if room_requirement or room_notes %}
                                                    <p class="underline">Room</p>
                                                    {% for icon, note in zip(room_requirement.icons, room_requirement.notes) %}
                                                        <p><span class="{{ icon }}"></span> {{ note }}</p>
                                                    {% endfor %}
                                                    <p class="italic">{{ room_notes }}</p>
                                                {% endif %}
                                            </TooltipContent>
                                        </Tooltip>
                                    {% else %}
                                        <div>-</div>
                                    {% endif %}
                                </div>
                                <div class="flex flex-row justify-between gap-2 text-xs">
                                    <div>{{ copy + 1 }}/{{ game.game_requirement.times_to_run }}</div>
                                    <div class="flex flex-row gap-[1px] self-end">
                                        {% for time_slot in event.time_slots %}
                                            {% if time_slot in game.game_requirement.available_time_slots %}
                                                <div
                                                    class="bg-primary h-2 w-2"
                                                    data-available-time-slot-id="{{ time_slot.id }}"
                                                    data-available
                                                ></div>
                                            {% else %}
                                                <div
                                                    class="border-primary h-2 w-2 border"
                                                    data-available-time-slot-id="{{ time_slot.id }}"
                                                ></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </Component>
        </PageContainer>
    {% endblock %}
</Page>
