<Page>
    {% block content %}
        <title>{{ event.name }} Manage Submissions - Convergence 2025</title>
        <PageContainer>
            <div>Manage Submissions</div>
            <ul class="list bg-base-200 rounded-box">
                {% for game in event.games %}
                    <GameSubmissionRow :game="game" :submission_status="submission_status" :user="request.user" />
                {% endfor %}
            </ul>
        </PageContainer>
    {% endblock %}
</Page>
