<Page>
    {% block content %}
        <title>{{ event.name }} Session Planner - Convergence 2025</title>
        <PageContainer size="max-w-screen-2xl">
            <h2 class="text-xl">{{ event.name }} Session Planner</h2>
            <div class="tabs-border tabs tabs-sm">
                <div class="inline-flex h-8 items-center justify-center text-sm">
                    <span class="icon-[mdi--clock]"></span>
                </div>
                {% for time_slot in event.time_slots %}
                    <input
                        type="radio"
                        name="time_slot_selector"
                        class="tab"
                        aria-label="{{ time_slot.name }}"
                        {{ "checked" if selected_time_slot.id == time_slot.id }}
                        hx-get="/event/{{ swim(event) }}/planner/{{ swim(time_slot) }}"
                        hx-params="none"
                        hx-target="#game_list"
                        hx-replace-url="true"
                    />
                    <div class="tab-content rounded-box border border-base-300 bg-base-200 p-4" hx-disinherit="*">
                        <div hx-get="/party/overview/{{ swim(time_slot) }}" hx-trigger="load"></div>
                    </div>
                {% endfor %}
            </div>
            {% block game_list %}
                <div id="game_list">
                    {% for tier, games in game_tier_list %}
                        <h3 class="text-lg font-semibold">T {{ loop.index }}</h3>
                        <h3 class="text-lg font-semibold">{{ tier.value }}</h3>
                        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                            {% for game in games %}
                                <GameCard :game="game" :preference="preferences.get(game.id)" />
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </PageContainer>
    {% endblock content %}
</Page>
