<Page>
    {% block content %}
        <title>{{ event.name }} - Convergence 2025</title>
        <PageContainer>
            <div>{{ event.name }}</div>
            <p>This is a TODO page - and will only really be useful when there are multiple events</p>
            {% if request.user | has_permission("event", (event, event), "manage_submissions") %}
                <div class="card bg-base-200 border-base-300 rounded-box border">
                    <div class="card-body">
                        <h2 class="card-title text-xl">Admin Section</h2>
                        <p>You are an admin for this event.</p>
                        <div class="card-actions justify-start">
                            <a href="/event/{{ swim(event) }}/manage-submissions" class="btn btn-primary">
                                Manage Submissions
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </PageContainer>
    {% endblock %}
</Page>
