<Page>
    {% block content %}
        <title>{{ event.name }} Manage Schedule - Convergence 2025</title>
        <PageContainer size="max-w-full">
            <Component name="event_manage_schedule">
                <table class="schedule-table table table-fixed px-0">
                    <thead>
                        <tr>
                            <th class="sticky top-0 w-16 text-center">Table</th>
                            {% for time_slot in event.time_slots %}
                                <th class="sticky top-0 text-center">{{ time_slot.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for room in event.rooms %}
                            {% set room_facilities = room.facilities | RoomFacility %}
                            <tr>
                                <td colspan="{{ event.time_slots|length + 1 }}" class="text-center font-semibold">
                                    {{ room.name }} - {{ room.description }}
                                    {% for icon in room_facilities.icons %}
                                        <span class="{{ icon }}"></span>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% for table in room.tables %}
                                {% set table_facilities = table.facilities | TableFacility %}
                                {% set provides = room_facilities.provides + table_facilities.provides + [table.size.provides] %}
                                <tr>
                                    <td class="h-20 p-0">
                                        <Tooltip>
                                            <div>
                                                <p>{{ table.name }}</p>
                                                <p class="text-xs">
                                                    <span class="{{ table.size.icon }}"></span> {{ table.size }}
                                                </p>
                                                <div class="flex flex-row">
                                                    {% for icon in table_facilities.icons %}
                                                        <span class="{{ icon }}"></span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <TooltipContent>
                                                <p>{{ room.name }} - {{ room.description }} | {{ table.name }}</p>
                                                {% for icon, note in zip(room_facilities.icons, room_facilities.notes) %}
                                                    <p><span class="{{ icon }}"></span> {{ note }} room</p>
                                                {% endfor %}
                                                <p><span class="{{ table.size.icon }}"></span> {{ table.size }}</p>
                                                {% for icon, note in zip(table_facilities.icons, table_facilities.notes) %}
                                                    <p><span class="{{ icon }}"></span> {{ note }}</p>
                                                {% endfor %}
                                            </TooltipContent>
                                        </Tooltip>
                                    </td>
                                    {% for time_slot in event.time_slots %}
                                        {% set provide_string = '["' ~ ((provides + ["time-slot-" ~ time_slot.id]) | join('","')) ~ '"]' %}
                                        {# fmt: off #}
                                        <td
                                            class="schedule-table-slot duration-250 border p-0 transition-colors [&>.game-card]:w-full"
                                            data-time-slot-id="{{ time_slot.id }}"
                                            data-table-id="{{ table.id }}"
                                            {{ "data-provides='" ~ provide_string ~ "'" }}
                                        ></td>
                                        {# fmt: on #}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>

                <div>Unsorted Games</div>
                <div class="unscheduled-games flex flex-row flex-wrap gap-2">
                    {% for game in event.games %}
                        {% set game_requirement = game.game_requirement %}
                        {% set table_size_requirement = game_requirement.table_size_requirement | GameTableSizeRequirement %}
                        {% if bitwise_and(table_size_requirement, 3) %}
                            {% set table_size_requirement = 0 | GameTableSizeRequirement %}
                        {% endif %}
                        {% set table_size_notes = game_requirement.table_size_notes %}
                        {% set equipment_requirement = game_requirement.equipment_requirement | GameEquipmentRequirement %}
                        {% set equipment_notes = game_requirement.table_size_notes %}
                        {% set activity_requirement = game_requirement.activity_requirement | GameActivityRequirement %}
                        {% set activity_notes = game_requirement.activity_notes %}
                        {% set room_requirement = game_requirement.room_requirement | GameRoomRequirement %}
                        {% set room_notes = game_requirement.room_notes %}
                        {% set criteria = table_size_requirement.criteria + equipment_requirement.criteria + activity_requirement.criteria + room_requirement.criteria %}
                        {% set criteria_time_slot_ids = "time-slot-" ~ (game.game_requirement.available_time_slots | map(attribute="id") | join("|time-slot-")) %}
                        {% set criteria_gm_id = "!gm-" ~ game.gamemaster_id %}
                        {% set criteria_string = '["' ~ ((criteria + [criteria_time_slot_ids, criteria_gm_id]) | join('","')) ~ '"]' %}
                        {% for copy in range(game.game_requirement.times_to_run) %}
                            <div
                                class="game-card bg-base-200 rounded-box border-base-300 relative w-fit min-w-32 cursor-move border p-1"
                                {{ "data-criteria='" ~ criteria_string ~ "'" }}
                                data-game-id="{{ game.id }}"
                                data-game-copy="{{ copy }}"
                                data-gm-id="{{ game.gamemaster_id }}"
                            >
                                <h2 class="font-semibold">{{ game.name }}</h2>
                                <div class="flex flex-row justify-between gap-2 text-xs">
                                    <div data-criteria-match="{{ criteria_gm_id }}">
                                        {{ game.gamemaster.full_name }}
                                    </div>
                                    <div>{{ game.player_count_minimum }}-{{ game.player_count_maximum }}</div>
                                </div>
                                <div class="flex flex-row justify-between gap-2">
                                    {%
                                        if
                                        table_size_requirement or
                                        table_size_notes or
                                        equipment_requirement or
                                        equipment_notes or
                                        activity_requirement or
                                        activity_notes or
                                        room_requirement or
                                        room_notes
                                    %}
                                        <Tooltip align="bottom" class="w-full">
                                            <div class="flex w-full flex-row">
                                                {% for req in [table_size_requirement, equipment_requirement, activity_requirement, room_requirement] %}
                                                    {% for r in req %}
                                                        <span
                                                            data-criteria-match="{{ r.criteria[0] }}"
                                                            class="{{ r.icons[0] }}"
                                                        ></span>
                                                    {% endfor %}
                                                {% endfor %}
                                                {% if table_size_notes or equipment_notes or activity_notes or room_notes %}
                                                    <span class="text-xs italic">Notes</span>
                                                {% endif %}`
                                            </div>
                                            <TooltipContent class="text-left">
                                                {%
                                                    for req_title, req, req_notes in [
                                                        ("Table Size", table_size_requirement, table_size_notes),
                                                        ("Equipment", equipment_requirement, equipment_notes),
                                                        ("Activity", activity_requirement, activity_notes),
                                                        ("Room", room_requirement, room_notes),
                                                    ]
                                                %}
                                                    {% if req or req_notes %}
                                                        <p class="underline">{{ req_title }}</p>
                                                        {% for r in req %}
                                                            <p data-criteria-match="{{ r.criteria[0] }}">
                                                                <span class="{{ r.icons[0] }}"></span> {{ r.notes[0] }}
                                                            </p>
                                                        {% endfor %}
                                                        {% if req_notes %}
                                                            <p class="italic">{{ req_notes }}</p>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </TooltipContent>
                                        </Tooltip>
                                    {% else %}
                                        <div>-</div>
                                    {% endif %}
                                </div>
                                <div class="flex flex-row justify-between gap-2 text-xs">
                                    <div>{{ copy + 1 }}/{{ game.game_requirement.times_to_run }}</div>
                                    <div
                                        data-criteria-match="{{ criteria_time_slot_ids }}"
                                        class="flex flex-row gap-[1px] self-end"
                                    >
                                        {% for time_slot in event.time_slots %}
                                            {% if time_slot in game.game_requirement.available_time_slots %}
                                                <div class="in-[.text-error]:bg-error bg-primary h-2 w-2"></div>
                                            {% else %}
                                                <div
                                                    class="in-[.text-error]:border-error border-primary h-2 w-2 border"
                                                ></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </Component>
        </PageContainer>
    {% endblock %}
</Page>
