<Page>
    {% block content %}
        <title>{{ event.name }} Games - Convergence 2025</title>
        <PageContainer size="max-w-screen-2xl">
            <h2 class="text-xl">{{ event.name }} Games</h2>
            {# Game Filters #}
            <form
                hx-get="/games"
                hx-target="#game_list"
                hx-push-url="true"
                hx-trigger="change from:input:not([name=filter_tab]) delay:100ms, reset delay:10ms"
                hx-params="not filter_tab"
                class="tabs-border tabs"
            >
                <div class="inline-flex h-10 items-center justify-center text-sm">Filters:</div>
                <MultiselectTab :form_data="form_data.genre" />
                <MultiselectTab :form_data="form_data.system" />
                <MultiselectTab :form_data="form_data.tone" />
                <MultiselectTab :form_data="form_data.bonus" />
                <MultiselectTab :form_data="form_data.content" />
                <div class="inline-flex h-10 items-center justify-center">
                    <button type="reset" class="btn btn-outline btn-sm btn-secondary">
                        <span>Clear Filters</span>
                    </button>
                </div>
            </form>
            {# Game List #}
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" id="game_list">
                {% block game_list %}
                    {% for game in games %}
                        <div class="card rounded-box border border-base-300 bg-base-200">
                            <a href="/game/{{ swim(game) }}">
                                <div class="card-body">
                                    <h2 class="card-title">{{ game.name }}</h2>
                                    <div class="italic">{{ game.tagline }}</div>
                                    <span>{{ game.system.name }} | Run by {{ game.gamemaster.full_name }}</span>
                                    <div class="flex flex-row flex-wrap gap-2">
                                        <div class="badge">
                                            <span class="font-semibold">{{ game.tone }}</span>
                                        </div>
                                        <div class="badge">
                                            <span class="font-semibold">{{ game.classification }}</span>
                                            <span>rating</span>
                                        </div>
                                        <div class="badge">
                                            <span class="font-semibold">{{ game.crunch }}</span>
                                            <span>complexity</span>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-2">
                                        <div class="font-semibold">Genres</div>
                                        <div class="flex flex-row flex-wrap gap-2">
                                            {% for genre in game.genres %}
                                                <div class="badge">{{ genre.name }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if game.content_warnings %}
                                        <div class="flex flex-row gap-2">
                                            <div class="font-semibold">Content</div>
                                            <div class="flex flex-row flex-wrap gap-2">
                                                {% for tag in game.content_warnings %}
                                                    <div class="badge badge-warning">{{ tag.name }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% set game_ksps = game.ksps | GameKSP %}
                                    {% if game_ksps %}
                                        <div class="flex flex-row flex-wrap gap-2">
                                            {% for note, tooltip, icon in zip(game_ksps.notes, game_ksps.tooltips, game_ksps.icons) %}
                                                <div class="badge">
                                                    <div class="inline-flex gap-2">
                                                        <span class="{{ icon }} my-auto"></span> <span>{{ note }}</span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% if not games %}
                        <div class="card col-span-full rounded-box border border-base-300 bg-base-200">
                            <div class="card-body">
                                <h2 class="card-title text-xl">No Games Found</h2>
                                <p>There are no games that match your search criteria.</p>
                                <p>Try changing your filters or check back later!</p>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            {% if request.user is not none %}
                {% if request.user | has_permission("event", (event, event), "manage_submissions") %}
                    <div class="card rounded-box border border-base-300 bg-base-200">
                        <div class="card-body">
                            <h2 class="card-title text-xl">Admin Section</h2>
                            <p>You are an admin for this event.</p>
                            <div class="card-actions justify-start">
                                <a href="/event/{{ swim(event) }}/manage-submissions" class="btn btn-primary">
                                    Manage Submissions
                                </a>
                                <a href="/event/{{ swim(event) }}/manage-schedule" class="btn btn-primary">
                                    Manage Schedule
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </PageContainer>
    {% endblock %}
</Page>
