<Page>
    {% block content %}
        <title>{{ event.name }} Session Planner - Convergence 2025</title>
        <PageContainer size="max-w-screen-2xl">
            <h2 class="text-xl">{{ event.name }} Session Planner</h2>
            <div class="tabs-border tabs tabs-sm">
                <div class="inline-flex h-8 items-center justify-center text-sm">
                    <span class="icon-[mdi--clock]"></span>
                </div>
                {% for time_slot in event.time_slots %}
                    <input
                        type="radio"
                        name="time_slot_selector"
                        class="tab"
                        aria-label="{{ time_slot.name }}"
                        {{ "checked" if selected_time_slot.id == time_slot.id }}
                        hx-get="/event/{{ swim(event) }}/planner/{{ swim(time_slot) }}"
                        hx-params="none"
                        hx-target="#game_list"
                        hx-replace-url="true"
                    />
                    <div class="tab-content rounded-box border border-base-300 bg-base-200 p-4" hx-disinherit="*">
                        <div hx-get="/party/overview/{{ swim(time_slot) }}" hx-trigger="load"></div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <div class="collapse-plus collapse border border-base-300 bg-base-100">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">Explanation</div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p class="italic">
                            Below is a preview of the ranked tier list of games running this session, according to your
                            or your party leader's preferences. Games within each tier are equally weighted.
                        </p>
                        <p class="italic">
                            The allocation algorithm will try to place you in the highest tier possible, while making
                            sure as many games run at optimal player counts.
                        </p>
                        <p class="italic">
                            Try to make sure you accurately represent your preferences with a good selection of games in
                            the first few tiers - trying to cheat the system with one D12 and all D0s will possibly mean
                            you can't get into a game at all!
                        </p>
                    </div>
                </div>
            </div>
            {% block game_list %}
                <div id="game_list" class="flex flex-col gap-4">
                    {% for tier, games in game_tier_list %}
                        <div class="sticky top-0 z-10 bg-base-100">
                            <div class="divider divider-vertical">
                                <div class="flex flex-row gap-4 text-xl font-semibold">
                                    <div>Tier {{ loop.index }}</div>
                                    <div class="{{ tier.display_class }}"></div>
                                </div>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                            {% for game in games %}
                                <GameCard :game="game" :preference="preferences.get(game.id)" />
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </PageContainer>
    {% endblock content %}
</Page>
