<Page>
    {% block content %}
        <title>{{ event.name }} Manage Allocation - Convergence 2025</title>
        <PageContainer size="max-w-full">
            <Component name="event_manage_allocation" class="group">
                <div class="full-screen grid h-screen grid-cols-[auto_max-content] gap-4">
                    <div class="overflow-y-scroll">
                        <div class="grid grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
                            {% for session in sessions %}
                                <div
                                    class="session-slot group/session flex border-collapse flex-col gap-2 border"
                                    data-min-players="{{ session.game.player_count_minimum }}"
                                    data-opt-players="{{ session.game.player_count_optimum }}"
                                    data-max-players="{{ session.game.player_count_maximum }}"
                                    data-session="{{ swim(session) }}"
                                >
                                    <div>{{ session.table.name }} | {{ session.game.name }}</div>
                                    <div class="session-member-list min-h-32 grow">
                                        {# Put the GM first! #}
                                        {% for group_leader, party, checkin_status, metadata in groups[session.id] %}
                                            {% if group_leader.id == session.game.gamemaster_id %}
                                                <AllocationPartyCard
                                                    :group_leader="group_leader"
                                                    :party="party"
                                                    :checkin_status="checkin_status"
                                                    :metadata="metadata"
                                                />
                                            {% endif %}
                                        {% endfor %}
                                        {% for group_leader, party, checkin_status, metadata in groups[session.id] %}
                                            {% if group_leader.id != session.game.gamemaster_id %}
                                                <AllocationPartyCard
                                                    :group_leader="group_leader"
                                                    :party="party"
                                                    :checkin_status="checkin_status"
                                                    :metadata="metadata"
                                                />
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="flex flex-row items-end justify-between p-1">
                                        <div>
                                            <span
                                                class="icon-[material-symbols--check] hidden text-success group-has-[[data-in-gm-game]]/session:inline-block"
                                            ></span>
                                            <span
                                                class="icon-[material-symbols--close] inline-block text-error group-has-[[data-in-gm-game]]/session:hidden"
                                            ></span>
                                            <span class="session-member-count">0/X</span>
                                        </div>
                                        <div class="session-member-count-display flex flex-row gap-[1px]">
                                            {% for i in range(session.game.player_count_maximum) %}
                                                {%
                                                    set num_style =
                                                    "border-warning [.enabled]:bg-warning" if i + 1 == session.game.player_count_minimum else
                                                    "border-success [.enabled]:bg-success" if i + 1 == session.game.player_count_optimum else
                                                    "border-base-content [.enabled]:bg-base-content"
                                                %}
                                                <div class="{{ num_style }} h-2 w-2 border"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="flex h-full max-w-80 flex-col gap-2 overflow-hidden">
                        {# <FieldsetBase>
                            <legend class="fieldset-legend">Display Settings</legend>
                            <label class="label">
                                <input type="checkbox" class="toggle toggle-primary" id="minimal-view" />
                                <span class="label-text">Minimal View</span>
                            </label>
                        </FieldsetBase> #}
                        <FieldsetBase>
                            <legend class="fieldset-legend">Controls</legend>
                            <form
                                hx-get="/event/{{ swim(event) }}/manage-allocation/{time_slot_sqid}"
                                hx-ext="path-params"
                                hx-target="#content"
                                hx-trigger="change"
                                hx-replace-url="true"
                            >
                                <select class="select" name="time_slot_sqid">
                                    {% for time_slot in event.time_slots %}
                                        <option
                                            value="{{ swim(time_slot) }}"
                                            {{ "selected" if time_slot.id == selected_time_slot.id else "" }}
                                        >
                                            {{ time_slot.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                            <button
                                class="allocate-button btn btn-primary"
                                hx-post="/event/{{ swim(event) }}/manage-allocation/{{ swim(selected_time_slot) }}/do-allocation"
                                hx-target="#content"
                                hx-trigger="click"
                                hx-confirm="Are you sure you want to redo an allocation? This will rerun the algorithm."
                            >
                                Allocate
                            </button>
                            <button class="save-button btn btn-primary">Save (Admin Draft)</button>
                            <button class="commit-button btn btn-primary">Commit (Public)</button>
                        </FieldsetBase>
                        <h2 class="text-lg font-semibold">Unallocated Parties</h2>
                        <div
                            class="unallocated-parties scrollbar-hidden flex grow flex-col gap-2 overflow-y-scroll mask-b-from-75% mask-b-to-100%"
                        >
                            {% for group_leader, party, checkin_status, metadata in groups[None] %}
                                <AllocationPartyCard
                                    :group_leader="group_leader"
                                    :party="party"
                                    :checkin_status="checkin_status"
                                    :metadata="metadata"
                                />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </Component>
        </PageContainer>
    {% endblock %}
</Page>
