<Page>
    {% block content %}
        <title>{{ event.name }} Session Planner - Convergence 2025</title>
        <PageContainer size="max-w-screen-2xl">
            <h2 class="text-xl">{{ event.name }} Session Planner</h2>
            {# 
            TODO:
                - Tab session selector
                    - Remove sessions that are finished? Or default to the next one in the time order
                - View party for each session
                - Manage party
                    - Host
                        - Show the invite code and QR code
                        - Able to kick or promote players
                        - Able to leave the party
                    - Join
                        - Show the invite code and QR code
                        - Show the party members
                        - Able to leave the party
                - View the games tiered by preference
                - Same game filter selectors?
             #}
            <div class="tabs-border tabs">
                {% for time_slot in event.time_slots %}
                    <input type="radio" name="time_slot_selector" class="tab" aria-label="{{ time_slot.name }}" />
                    <div class="tab-content rounded-box border border-base-300 bg-base-200 p-4">
                        <div hx-get="/party/overview/{{ swim(time_slot) }}" hx-trigger="load"></div>
                    </div>
                {% endfor %}
            </div>
        </PageContainer>
    {% endblock content %}
</Page>
