<Page>
    {% block content %}
        <title>{{ event.name }} Manage Submissions - Convergence 2025</title>
        <PageContainer size="max-w-screen-2xl">
            <div>Manage Submissions</div>
            <table class="bg-base-200 table-sm table">
                <thead>
                    <tr>
                        <TableSortHeader sort="title" :active="sort == 'title'" :desc="desc">Title</TableSortHeader>
                        <TableSortHeader sort="system" :active="sort == 'system'" :desc="desc">
                            System
                        </TableSortHeader>
                        <TableSortHeader sort="gamemaster" :active="sort == 'gamemaster'" :desc="desc">
                            GM
                        </TableSortHeader>
                        <TableSortHeader sort="submitted" :active="sort == 'submitted'" :desc="desc">
                            Submitted
                        </TableSortHeader>
                        <TableSortHeader sort="status" :active="sort == 'status'" :desc="desc">
                            Status
                        </TableSortHeader>
                        <TableSortHeader sort="sessions" :active="sort == 'sessions'" :desc="desc">
                            Sessions
                        </TableSortHeader>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <GameSubmissionRow :game="game" :submission_status="submission_status" :user="request.user" />
                    {% endfor %}
                    <tr>
                        <td class="font-semibold">{{ total_games }} games</td>
                        <td class="font-semibold">{{ total_systems }} systems</td>
                        <td class="font-semibold">{{ total_gamemasters }} GMs</td>
                        <td></td>
                        <td>
                            <p class="font-semibold">{{ total_sessions }} total</p>
                            <p class="text-neutral">{{ total_draft_sessions }} draft</p>
                            <p class="text-warning">{{ total_submitted_sessions }} submitted</p>
                            <p class="text-success">{{ total_approved_sessions }} approved</p>
                            <p class="text-error">{{ total_rejected_sessions }} rejected</p>
                            <p class="text-error">{{ total_cancelled_sessions }} cancelled</p>
                        </td>
                        <td class="font-semibold">{{ total_sessions - total_cancelled_sessions }}</td>
                    </tr>
                </tbody>
            </table>
        </PageContainer>
    {% endblock %}
</Page>
