<Page>
    {% block content %}
        <title>{{ event.name }} Manage Players - Convergence 2025</title>
        <PageContainer size="max-w-screen-2xl">
            <div>Manage Players</div>
            <table class="table bg-base-200 table-sm">
                <thead></thead>
            </table>
        </PageContainer>
    {% endblock %}
</Page>
