<Page>
    {% block content %}
        <title>{{ event.name }} Games - Convergence 2025</title>
        <PageContainer size="max-w-screen-2xl">
            <h2 class="text-xl">{{ event.name }} Games</h2>
            {# Game Filters #}
            <form
                hx-get="/games"
                hx-target="#game_list"
                hx-push-url="true"
                hx-trigger="change delay:100ms, reset delay:10ms"
                hx-params="not filter_tab"
                class="tabs-border tabs tabs-sm"
            >
                <div class="inline-flex h-8 items-center justify-center text-sm">
                    <span class="icon-[mingcute--filter-fill]"></span>
                </div>
                <MultiselectTab :form_data="form_data.genre" />
                <MultiselectTab :form_data="form_data.system" />
                <MultiselectTab :form_data="form_data.tone" />
                <MultiselectTab :form_data="form_data.bonus" />
                <MultiselectTab :form_data="form_data.content" />
            </form>
            <button
                type="button"
                class="btn btn-outline btn-sm btn-secondary md:w-fit"
                _="on click get the previous <form/> then it.reset()"
            >
                <span>Clear Filters</span>
            </button>
            {# Game List #}
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" id="game_list">
                {% block game_list %}
                    {% for game in games %}
                        <GameCard :game="game" :preference="preferences.get(game.id)" />
                    {% endfor %}
                    {% if not games %}
                        <div class="card col-span-full rounded-box border border-base-300 bg-base-200">
                            <div class="card-body">
                                <h2 class="card-title text-xl">No Games Found</h2>
                                <p>There are no games that match your search criteria.</p>
                                <p>Try changing your filters or check back later!</p>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            {% if request.user is not none %}
                {% if request.user | has_permission("event", (event, event), "manage_submissions") %}
                    <AdminSectionCard :event="event" />
                {% endif %}
            {% endif %}
        </PageContainer>
    {% endblock %}
</Page>
