<Page>
    {% block content %}
        <title>{{ event.name }} - Convergence 2025</title>
        <PageContainer>
            <div>{{ event.name }}</div>
            <p>This is a TODO page - and will only really be useful when there are multiple events</p>
        </PageContainer>
    {% endblock %}
</Page>
