<Page>
    {% block content %}
        <title>FAQ - Convergence 2025</title>
        <PageContainer>
            <div class="flex flex-col gap-4">
                <h1 class="text-xl">Frequently Asked Questions</h1>
                <h2 class="text-xl">General Questions</h2>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="parking">Where is the best parking available?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            The best entrance to use is the Conference Centre entrance which is right next to a lovely
                            big car park. From the entrance of the hotel, drive straight past the hotel buildings until
                            you get to an open area for parking. The entrance should be clearly visible from here, to
                            the left.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="accomodation">I'm out of town, how can I get accomodation?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            If you're coming from outside of the Tron this year, The Distinction Hotel, Hamilton is
                            offering a special discount for Convergence attendees, so you can sort accommodation for the
                            weekend at only $195/night for a superior king/twin room! To access this discount you will
                            have to book by phone only, quoting #192608. The code will not work booking online.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="food">Where can I get food during event?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Unfortunately, we are not able to organise food for attendees. There are plenty of options
                            available, however. You are welcome to bring your own food in, as a packed lunch or take
                            away from a restaurant. There is a bakery around 5 minutes walk away, as well as several
                            cafes. We will have a list and map for these available on the website in the near future.
                            Feel free to eat your own food at a free gaming table but please be mindful of GMs setting
                            up for the next session.
                        </p>
                        <p>During the social on Sunday, dinner and drinks will be available from the hotel bar!</p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="photographs">Will I be photographed? Do I have permission to take photographs?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            We'll be taking photographs throughout the event to record the fun that everyone is having.
                            Some of those will probably be used in our promotional material or social media spaces. If
                            you don't wish to have your photograph taken, please speak to one of our staff members on
                            the day and we'll make sure you're kept out of any snaps we take.
                        </p>
                        <p>
                            Feel free to take your own photographs and to share them on social media but please ensure
                            you have permission to do so from anyone who features in your photos.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="ages">What ages can come to Convergence?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            TTRPGs can be great for kids - they improve social skills, promote teamwork and involve
                            maths! Children ages 13-15 are welcome to play, however, a parent/guardian needs to attend
                            with them. Unfortunately, we cannot host under-13s at this event, but you can bring them to
                            our merchants area and Sunday seminars. Other WRPG events are child friendly, such as Dice &
                            Districts.
                        </p>
                        <p>
                            Parents are welcome to bring very young children with them. We have had attendees GM and
                            play with babies strapped to their chest!
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="society-member">I am a society member, what does that get me?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            For a simple $10 a year you get access to pre-sales and the sought-after Golden D20. A
                            Golden D20 is a single-use token that will be added to your online account (make sure you
                            use the same email for your Convergence website account and your membership), that can be
                            used to show your strong desire to play a particular game. You rank all games with d12 to
                            d0, a d20 will give the game the highest ranking and make it much more likely for you to get
                            your first choice.
                        </p>
                        <p>
                            Membership is pro-rated through the year - sign up before the end of June and pay $7.50, or
                            for $5 during July-September.
                        </p>
                        <p><L href="https://forms.gle/8Qraftky6WtTMxoT9">Membership Registration Form</L></p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="cant-bring">What can't I bring to the event?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>Please do not bring any weapons, replica weapons or alcohol.</p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="sponsor">What can I do to sponsor Convergence?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Hello, did I mention how much we love you? Please send us an email at
                            <L href="mailto:waikatoroleplayingguild@gmail.com">waikatoroleplayingguild@gmail.com</L> if
                            you wish to support our event in some way. We have a full cadre of sponsors for this year,
                            but are still looking for prize support for our raffle draws.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="accessibility">What are you doing to aid accessibility?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            For those with mobility issues - the event is all on one level, the entrance is flat with no
                            steps, and there is an accessible toilet off the foyer. If there is any area that you need
                            access to that you feel is partially or fully blocked in some way, please let a volunteer or
                            organiser know.
                        </p>
                        <p>
                            For those who have impaired vision then we have volunteers ready to provide game selection
                            support, as this is done online via our website. If you need help to find your gaming table
                            then they will also be able to help with this. We ask about this when you buy your ticket so
                            we have support ready, and ask that you identify yourself at check-in on the day so we can
                            direct you to the volunteers.
                        </p>
                        <p>
                            For those with sensory issues we have a few options. We have an
                            <L href="https://www.waikatorpg.co.nz/safety-tools/">open table policy</L>
                            which means you can step away for any reason. We are sourcing sound barriers for the main
                            gaming rooms to reduce the volume that is created by everyone talking. We have 3 rooms that
                            will have a maximum of one table in them - when the timetable is finalised closer to the
                            event we will highlight what games will be in these rooms.
                        </p>
                        <p>
                            The Distinction has a seating area towards the front desk that is generally quiet during the
                            day that can be used during Convergence, and we will have the board gaming area and
                            miniature painting if you want to try some quieter activities for a session.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="on-the-day">If I have a question or need help on the day, what should I do?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            There should be people around wearing red lanyards that will be a mix of volunteers and
                            organising committee members. They should be able to help or point you in the right
                            direction.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold"><h3 id="first-aid">Are first aiders available?</h3></div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>Yes, we should have first aiders available all weekend,</p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        I have a problem with someone/a game submission/something, how do I formally complain/bring it
                        to the organising committee's attention?
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Hopefully you have a great time, but if not we want to know! Before and after the event the
                            best way to get in touch is by email to
                            <L href="mailto:waikatoroleplayingguild@gmail.com">waikatoroleplayingguild@gmail.com</L>.
                            You can also message us via our
                            <L href="https://www.facebook.com/waikatoroleplayingguild/">Facebook Profile</L>
                            or
                            <L href="https://instagram.com/waikatorpguild">Instagram</L>.
                        </p>
                        <p>
                            If there is an issue during the event then the best way is to approach one of the people
                            wearing a red lanyard. These will be a mix of volunteers and committee members, who will be
                            able to help or direct you to someone who can. If there is something serious you may be
                            asked to follow up with an email afterwards.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="contact">I have a question that is not answered here, how can I contact you?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            We have many ways that you can contact us with general questions. We have an area on our
                            <L href="https://discord.gg/4wBtAG2rjt">Discord</L> devoted to Convergence, and you will get
                            the quickest response there.
                        </p>
                        <p>
                            You can also post on the
                            <L href="https://www.facebook.com/events/1580938195953418">Facebook event</L>
                            with any queries you have. You can message us on
                            <L href="https://www.facebook.com/waikatoroleplayingguild">Facebook</L>,
                            <L href="https://instagram.com/waikatorpguild">Instagram</L> or
                            <L href="https://bsky.app/profile/waikatorpg.co.nz">BlueSky</L>. Finally, there is the
                            <L href="https://www.waikatorpg.co.nz/contact-form-page">"Contact us" page</L> on our
                            website.
                        </p>
                    </div>
                </div>

                <h2 class="text-xl">Ticket Questions</h2>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="attendance">
                            What about if I can only attend for some of the time/only a session or two?
                        </h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Tickets are available for a single day or the full weekend. You are free to come to as many
                            or as few sessions as you wish. All we ask is that you make sure you check in on the website
                            for each session you are attending. If you are skipping a session you do not need to do
                            anything.
                        </p>
                        <p>
                            We understand that a whole day of gaming can sometimes be overwhelming, and that's why we
                            also have the board games and mini painting as quieter spaces if you do wish to skip a
                            session but come to a later one.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold"><h3 id="refunds">What's the refund policy?</h3></div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            If you buy a ticket and then cannot attend refunds can be made if we are informed up to 7
                            days prior to the event starting. Closer to the event and we will not provide a refund,
                            although we would still appreciate being informed that you cannot come. This is in case we
                            have a waiting list and can then offer the space to someone else.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="friend-tickets">I can no longer attend, can I give my friend my ticket?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            No. For two reasons. 1) We get info through the registration process that we use on the day,
                            such as printing off individualized badges, so it's much easier on our admin side to cancel
                            tickets and have everyone register themselves. 2) We have seen a massive increase in
                            scammers on social media trying to "sell" tickets. We will be deleting all posts attempting
                            to sell or transfer tickets as it is too much effort to verify each post as legitimate.
                            Please let us know if you cannot come, and if we are sold out then the tickets can be
                            offered to the waiting list.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="vibe">
                            I missed out on a ticket, or I want to vibe but not play, can I still come along?
                        </h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Yes! You are welcome to check out our merchant area at any time over the weekend without a
                            ticket, and you can also attend the seminars on Sunday without a ticket. If there is space,
                            then for a small cost then you can join in with board games and miniature.
                        </p>
                    </div>
                </div>

                <h2 class="text-xl">GM Questions</h2>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="rewards">What rewards do I get for running sessions?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            There is a scale of rewards based on the total number of sessions you run, across all of
                            your game submissions.
                        </p>
                        <ul class="flex list-disc flex-col gap-2 pl-4">
                            <li><b>One Session</b> - free day ticket, mini goodie bag</li>
                            <li><b>Two Sessions</b> - free weekend ticket, mini goodie bag</li>
                            <li><b>Three Sessions</b> - free weekend ticket, premium goodie bag</li>
                            <li>
                                <b>Four Sessions</b> - free weekend ticket, premium goodie bag, a Convergence 2025
                                T-shirt,
                                <Tooltip align="top">
                                    <label>a Golden D20 <TooltipIcon class="inline-block" /></label>
                                    <TooltipContent
                                        >A Golden D20 can be spent to boost your chances of getting your highest
                                        preference game.
                                    </TooltipContent>
                                </Tooltip>
                            </li>
                            <li>
                                <b>Five Sessions</b> - free weekend ticket, premium goodie bag, a Convergence 2025
                                T-shirt, a handshake from the Guild Master
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="gm-tickets">I have submitted a game, do I still need to buy a ticket?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            We welcome GMs, new or returning - and we always want as many as we can get! If you have
                            already submitted a game, then you should get a voucher code in your email inbox for your
                            free or discounted tickets at the time of pre-sales. It really helps us for tracking numbers
                            if you can sort your tickets early, but don't panic if you miss the pre-sale period. We
                            assume that if you are running a game you are attending. If you don't buy a ticket once we
                            are closer to the event then we will start chasing you up.
                        </p>
                        <p>
                            If you have a voucher for a single day free ticket then you can wait for general sales, as
                            single day tickets will not be available during pre-sales. You will need to buy 2 single day
                            tickets if you plan to come both days.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="edit-submission">Can I edit my game once it's submitted?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Yes! If you have a rough idea of a game you want to run, you should submit what you can then
                            come back to edit later! We want to know our capacity as early as possible, so please do not
                            hold off on submitting a game if you don't have all the details finalised.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="new-gm">I haven't GM'd at a WRPG event before, is that ok?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Yes! We love GMs that are new to us and GMs that are new to GMing. You don't have to be from
                            the Waikato to participate.
                        </p>
                        <p>
                            We have an upcoming event called Intro to GMing, so keep an eye out for details on our
                            socials. By the end of 3 sessions you should have a one shot ready for players.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold"><h3 id="what-can-i-run">What games can I run?</h3></div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Anything that is a TTRPG is welcome, but all games are vetted and approved. You may be asked
                            to change something if it is not felt to be appropriate for the majority of adults, which
                            can be as simple as adding an extra content warning.
                        </p>
                        <p>
                            Games don't have to be from a big publisher like WotC, we love indie, self-published games
                            too (possibly more)! It doesn't even need to have dice as a mechanic, some games use a block
                            tower or candles as part of game mechanics.
                        </p>
                        <p>
                            We have no restrictions on themes such as horror, but ask for content warnings where
                            appropriate. There will be X-cards on all tables for players and GMs to use if they have any
                            issues.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="killing-pcs">Can I kill player characters?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            If it fits in your game, absolutely yes. One GM runs an OSE and tries to beat his total
                            number of characters killed each year.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold"><h3 id="gms-to-bring">What do I need to bring?</h3></div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            We ask that you provide print outs where needed - pre-generated characters, rules reference
                            sheets, maps - but if this is something you are struggling with then let us know. Things
                            happen, drinks get spilled, printers break down the night before and we can help you with
                            this. Send us an email with the attached documents, let a committee member know you have
                            done so and we will get them to you.
                        </p>
                        <p>
                            Please provide any dice that you will be using, especially if they are game specific dice,
                            like Genesys dice. It can also be helpful to have extras for players, though all beginners
                            should be given a standard polyhedral set at the door, and there's plenty to go around!
                        </p>
                        <p>
                            You do not need to provide miniatures or terrain, but you can if you wish. We recommend
                            requesting a larger table in your submission if you wish to set this up.
                        </p>
                        <p>Pencils, erasers and notepads will be on the table. Water is available from fountains.</p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="didnt-run">My game didn't run, what will I do?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            There is a chance that your game does not get enough players to run, though we try to avoid
                            this by maximising players in attendance and prioritising maximum number of games in the
                            algorithm. We ask all GMs to also submit game preferences before each session so that you
                            can be included in the player pool if this happens.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="withdraw-game">I can no longer run my game, what should I do?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Life happens, but we would appreciate it if you can let us know as soon as possible if you
                            cannot make it. Let us know by <L href="mailto:waikatoroleplayingguild@gmail.com">email</L>.
                            If something comes up after 5pm on Thursday 11th September please direct message us on
                            Facebook or Instagram, or post on the Convergence channel on Discord. We may not be checking
                            emails at this point, but will get social media messages.
                        </p>
                    </div>
                </div>

                <h2 class="text-xl">Player Questions</h2>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="preferences">How do I choose which sessions to play in?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            There will be more details closer to the event, but you'll be using this website to rank
                            your game preferences, and an algorithm will try to allocate you to a game with a high
                            preference. This algorithm takes into account everyone's choices and makes sure as many
                            games run at closer to the 'optimal' player count as possible.
                        </p>
                        <p>
                            If you miss out on your first choice, don't worry! There are plenty of games and you'll
                            likely get another high choice. In later sessions you'll be compensated and will be more
                            likely to get one of your first choices.
                        </p>
                        <p>
                            Make sure to rank your choices as fairly as you can, especially for your top handful of
                            choices, and don't try to game the system by ranking one game as a d12 and all others as d0
                            - that's a surefire way to not get into a game at all!
                        </p>
                        <p>
                            As for how to prioritise all the awesome games, well, that's up to you!
                            <L href="/games" target="_self">Check them out</L>
                            now and have a look to find what interests you.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="friend-groups">Can I play with my friends on the same table?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>
                            Yes! There will be a way to party up with your fellow adventurers when it comes time to
                            select your game preferences.
                        </p>
                    </div>
                </div>
                <div class="collapse-plus bg-base-100 border-base-300 collapse border">
                    <input type="checkbox" />
                    <div class="collapse-title font-semibold">
                        <h3 id="players-to-bring">What do players need to bring?</h3>
                    </div>
                    <div class="collapse-content flex flex-col gap-2">
                        <p>Not much! Yourself and your phone (for tickets and game selection).</p>
                        <p>
                            We've got dice available for free and for sale, pencils/erasers/sharpeners are supplied by
                            the guild, character sheets, minis and everything else you need to play games will be
                            provided by GMs.
                        </p>
                        <p>
                            That said - feel free to bring your favourite dice, stationery, and your wallet to snap up
                            the awesome deals from the merchants in the central hall.
                        </p>
                    </div>
                </div>
            </div>
        </PageContainer>
    {% endblock %}
</Page>
