<Page>
    {% block content %}
        <title>{{ game.name }} - Convergence 2025</title>
        <PageContainer>
            {# Header content #}
            <h1 class="text-3xl">{{ game.name }}</h1>
            <div class="italic">{{ game.tagline }}</div>
            <div class="card rounded-box border border-base-300 bg-base-200">
                <div class="card-body">
                    <h2 class="card-title">{{ game.system.name }} | Run by {{ game.gamemaster.full_name }}</h2>
                    <div class="mb-2 grid grid-cols-2 gap-2 md:grid-cols-4">
                        <div>
                            <div class="font-semibold">Tone</div>
                            <div>{{ game.tone }}</div>
                        </div>
                        <div>
                            <div>
                                <span class="font-semibold">Classification</span>
                                <Tooltip align="bottom" fallback="false">
                                    <TooltipIcon />
                                    <TooltipContent>The age rating if this were a movie.</TooltipContent>
                                </Tooltip>
                            </div>
                            <div>{{ game.classification }}</div>
                        </div>
                        <div>
                            <div>
                                <span class="font-semibold">'Complexity' Rating</span>
                                <Tooltip align="bottom" fallback="false">
                                    <TooltipIcon />
                                    <TooltipContent>
                                        This game's complexity is {{ game.crunch }} - {{ game.crunch.number }}/5
                                    </TooltipContent>
                                </Tooltip>
                            </div>
                            <ComplexityStars :game_crunch="game.crunch" />
                        </div>
                        <div>
                            <div class="font-semibold">Players</div>
                            <div>{{ game.player_count_minimum }} - {{ game.player_count_maximum }}</div>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2">
                        <div class="font-semibold">Genres</div>
                        <div class="flex flex-row flex-wrap gap-2">
                            {% for genre in game.genres %}
                                <div class="badge">{{ genre.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div>
                        {% set game_core_activity = game.core_activity | GameCoreActivity %}
                        <div class="flex flex-row gap-2">
                            <div class="font-semibold">Core Activities</div>
                            <div class="flex flex-row flex-wrap gap-2">
                                {% for note, tooltip in zip(game_core_activity.notes, game_core_activity.tooltips) %}
                                    <div class="badge">
                                        <Tooltip class="w-fit" align="bottom" :fallback="false">
                                            <div class="inline-flex gap-2">
                                                <span>{{ note }}</span>
                                            </div>
                                            <TooltipContent :fallback="false">{{ tooltip }}</TooltipContent>
                                        </Tooltip>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if game.content_warnings %}
                        <div class="flex flex-row gap-2">
                            <div class="font-semibold">Content Warnings</div>
                            <div class="flex flex-row flex-wrap gap-2">
                                {% for tag in game.content_warnings %}
                                    <div class="badge badge-warning">{{ tag.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% set game_ksps = game.ksps | GameKSP %}
                    {% if game_ksps %}
                        <div class="flex flex-row flex-wrap gap-2">
                            {% for note, tooltip, icon in zip(game_ksps.notes, game_ksps.tooltips, game_ksps.icons) %}
                                <div class="badge">
                                    <Tooltip class="w-fit" align="bottom" :fallback="false">
                                        <div class="inline-flex gap-2">
                                            <span class="{{ icon }} my-auto"></span> <span>{{ note }}</span>
                                        </div>
                                        <TooltipContent :fallback="false">{{ tooltip }}</TooltipContent>
                                    </Tooltip>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <TipTapRender :initial_content_json="game.description" />
            {% if game_image_urls %}
                <h1 class="text-3xl">Images</h1>
                <div class="flex flex-row flex-wrap gap-4">
                    {% for image_url in game_image_urls %}
                        <a href="{{ image_url.full }}" class="flex h-50 cursor-zoom-in overflow-clip rounded-box">
                            <img src="{{ image_url.thumbnail }}" class="object-cover" />
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if SETTINGS.FLAG_PLANNER %}
                <div class="card rounded-box border border-base-300 bg-base-200">
                    <div class="card-body">
                        <h2 class="card-title text-xl">Scheduled Sessions</h2>
                        {% if scheduled_sessions %}
                            <ul class="list-inside list-disc space-y-1">
                                {% for session in scheduled_sessions %}
                                    <li>
                                        Table {{ session.table.name }} - {{ session.time_slot.name }}
                                        <span class="italic">
                                            <TimeDisplay :time="session.time_slot.start_time" /> -
                                            <TimeDisplay :time="session.time_slot.end_time" />
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>This game is not currently scheduled to run.</p>
                        {% endif %}
                        {% if request.user %}
                            <div class="card-actions justify-start">
                                <a href="/event/{{ swim(game.event) }}/planner" class="btn btn-primary"
                                    >Plan my Schedule</a
                                >
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if game.gamemaster_id == request.user.id %}
                <div class="card rounded-box border border-base-300 bg-base-200">
                    <div class="card-body">
                        <h2 class="card-title text-xl">Game Master Section</h2>
                        <p>You are the game master of this game.</p>
                        <div>
                            Submission Status:
                            <span class="{{ game.submission_status.color_classes }}">{{ game.submission_status }}</span>
                        </div>
                        <p>{{ game.submission_status.gm_explanation }}</p>
                        <p>
                            If you have further questions about the event and being a GM, check the
                            <a href="/faq" class="link">FAQ</a> or ask in the
                            <L href="https://discord.gg/4wBtAG2rjt">Discord</L>.
                        </p>
                        <div class="card-actions justify-start">
                            <a href="/game/{{ swim(game) }}/edit" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            {% elif SETTINGS.FLAG_PREFERENCES and request.user %}
                <div class="card mx-auto w-fit rounded-box border border-base-300 bg-base-200">
                    <div class="card-body">
                        <div class="flex flex-col items-center gap-2 text-base">
                            <span class="w-full text-center font-semibold">Preference</span>
                            <DiceRating
                                :display_d20="false"
                                :hx_put_url="'/game/' + swim(game) + '/preference'"
                                :starting_value="preference"
                            />
                        </div>
                    </div>
                </div>
            {% endif %}
        </PageContainer>
    {% endblock %}
</Page>
