<Page>
    {% block content %}
        <title>Games - Convergence 2025</title>
        <PageContainer>
            <utilities.Card>
                {% for i in range(19, 9, -1) %}
                    <div class="bg-accent">Test {{ i }}</div>
                {% endfor %}
            </utilities.Card>
        </PageContainer>
    {% endblock %}
</Page>
