<Page>
    {% block content %}
        <title>Convergence 2025</title>
        <PageContainer>
            <p>
                The biggest annual event from the Waikato Role-Playing Guild is returning for the 13th and 14th of
                September: <span class="font-semibold">Convergence!</span>
            </p>
            <p>
                We will be bringing you an epic weekend of role-playing, giveaways, and banter, capped off with a social
                function on Sunday evening.
            </p>
            <p>
                For news and updates, select Going on the
                <a href="https://www.facebook.com/events/1580938195953418" target="_blank" class="link">
                    Facebook event</a
                >, join our <a href="https://discord.gg/4wBtAG2rjt" target="_blank" class="link">Discord server</a> or
                browse our links on
                <a href="https://linktr.ee/waikatoroleplayingguild" target="_blank" class="link">Linktree.</a>
            </p>
            <p>Tickets are now generally available - get in quick as we sell out earlier and earlier each year.</p>
            <a
                href="https://convergence-2025.lilregie.com"
                class="btn mx-auto w-full py-10 text-3xl btn-xl btn-primary"
            >
                Purchase Your Ticket Now
            </a>
            <div class="divider divider-vertical"></div>
            <h2 class="text-xl">Timetable</h2>
            <p>
                Saturday will have 3 sessions and Sunday will have 2 sessions, with a mix of 3 and 4 hour slots based on
                the GM submissions. Below is a rough timetable, based on what has happened in previous years. The start
                and end times of sessions may end up changing by September, please check back closer to the time. Always
                aim to be 15 minutes early to sessions as the raffle draws and announcements will come beforehand.
            </p>
            <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
                <div class="flex flex-col gap-2">
                    <h3 class="text-lg">Friday 12th</h3>
                    <table>
                        {%
                            for time, info, style in [
                                ("6:30pm", "Social & Setup", ""),
                            ]
                        %}
                            <tr>
                                <td class="w-20 border-r pr-2 text-right align-top">{{ time }}</td>
                                <td class="{{ style }} pl-2 text-left align-top">{{ info }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="text-lg">Saturday 13th</h3>
                    <table>
                        {%
                            for time, info, style in [
                                ("8:00am", "Doors Open", ""),
                                ("8:45am", "Welcome", ""),
                                ("9:00am", "Session 1", "font-semibold"),
                                ("12:15pm", "Lunch", ""),
                                ("1:15pm", "Session 2", "font-semibold"),
                                ("4:30pm", "Dinner", ""),
                                ("6:00pm", "Session 3", "font-semibold"),
                                ("10:00pm", "End of Day", ""),
                            ]
                        %}
                            <tr>
                                <td class="w-20 border-r pr-2 text-right align-top">{{ time }}</td>
                                <td class="{{ style }} pl-2 text-left align-top">{{ info }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="text-lg">Sunday 14th</h3>
                    <table>
                        {%
                            for time, info, style in [
                                ("8:00am", "Doors Open", ""),
                                ("8:30am", "Welcome", ""),
                                ("8:45am", "Session 4", "font-semibold"),
                                ("12:00pm", "Lunch", ""),
                                ("1:00pm", "<a href=\"#seminars\" class=\"link\">Seminars</a>", ""),
                                ("2:00pm", "Session 5", "font-semibold"),
                                ("6:00pm-", "Social at Hotel Bar", ""),
                            ]
                        %}
                            <tr>
                                <td class="w-20 border-r pr-2 text-right align-top">{{ time }}</td>
                                <td class="{{ style }} pl-2 text-left align-top">{{ info|safe }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <h2 class="mt-4 text-xl">Location</h2>
            <div class="grid grid-cols-1 gap-4 md:grid-cols-[2fr_1fr]">
                <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;" class="grow">
                    <div id="g-mapdisplay" style="height:100%; width:100%;max-width:100%;">
                        <iframe
                            style="height:100%;width:100%;border:0;"
                            frameborder="0"
                            src="https://www.google.com/maps/embed/v1/place?q=the+distinction+hotel+and+conference+centre+hamilton&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
                        ></iframe>
                    </div>
                    <style>
                        #g-mapdisplay img {
                            max-height: none;
                            max-width: none !important;
                            background: none !important;
                        }
                    </style>
                </div>
                <div class="flex flex-col gap-2">
                    <p>The Distinction Hamilton Hotel & Conference Centre, 100 Garnett Avenue, Hamilton.</p>
                    <p>The Conference Centre is at the rear of the hotel.</p>
                </div>
            </div>
            <div class="collapse-plus collapse mt-4 border border-base-300 bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title font-semibold">
                    <h3 id="ttrpg">What is a TTRPG?</h3>
                </div>
                <div class="collapse-content flex flex-col gap-2">
                    <p>
                        Table top role-playing games are mostly played with friends, and usually require pen, paper and
                        dice to play. You have probably heard of Dungeons & Dragons, but thousands of different systems
                        exist. From simple romps to complex campaigns games can cover topics such as drag racing
                        raccoons, eldritch horrors, sci-fi, fantasy, dystopias, TV shows, and even Carly Rae Jepson.
                        They all need the players to use their imagination to drive the story and make the game come
                        alive.
                    </p>
                </div>
            </div>
            <div class="collapse-plus collapse border border-base-300 bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title font-semibold">
                    <h3 id="ttrpg">What's on at Convergence?</h3>
                </div>
                <div class="collapse-content flex flex-col gap-2">
                    <p>
                        Convergence is a 2 day games convention based in Kirikiriroa, Hamilton. The aim is to give new
                        and experienced players a chance to meet like-minded people, make new friends, try new games and
                        have a blast doing so. The name comes from the idea of all the different game systems coming
                        together in one space. There will be 5 gaming sessions over the weekend, so plenty of chances
                        for you to try new systems, or the same systems with new people.
                    </p>
                    <h4 class="font-semibold">TTRPG One-shots</h4>
                    <p>
                        The games will run in 3 and 4-hour sessions. All the games will be run as "one-shots" meaning it
                        will be a self-contained adventure within the time slot, with pre-generated characters provided
                        where needed. There will be games for newbies and experienced players alike. We'll make sure you
                        have everything you need to hit the ground running and have a fantastic weekend. All you need to
                        bring is yourself and some enthusiasm. You can bring your own favourite dice to show off if you
                        wish, but if you don't have your own dice we have you covered.
                    </p>
                    <h4 class="font-semibold">Merchants and Artists</h4>
                    <p>
                        Our merchants can also help you out, as we will have a market area for you to peruse. Go
                        straight from your table to buy your new favourite game, collect dice or adore the artists
                        alley.
                    </p>
                    <h4 class="font-semibold">Mini Painting, Cosplay, Board Games & More</h4>
                    <p>
                        If you want to try something other than TTRPGs during the weekend we will have a miniature
                        painting area, a cosplay parade, board games corner and crowdsourced megadungeon you can
                        contribute a room to.
                    </p>
                    <h4 class="font-semibold">Seminars</h4>
                    <p>
                        On Sunday we'll be hosting a variety of entertaining and educational seminars with guest
                        speakers from the wider community on a variety of topics! These will be a great opportunity to
                        learn more about what's going on in the TTRPG community, hear from experts, and have a chance to
                        ask questions.
                    </p>
                    <a href="#seminars" class="link">Click to view the seminars on offer!</a>
                    <h4 class="font-semibold">Socials</h4>
                    <p>
                        If that isn't enough we also have socials on Friday and Sunday night. Join us in the bar area of
                        The Distinction before and after the weekend to chill and chat about gaming.
                    </p>
                    <h4 class="font-semibold">Just Hang</h4>
                    <p>
                        If you aren't that sure about TTRPGs or want to check things out but not play then you can come
                        and spend time in the merchant area without a ticket, and can also come to the Sunday seminars
                        for free.
                    </p>
                </div>
            </div>
            <div class="collapse-plus collapse border border-base-300 bg-base-100" id="seminars">
                <input type="checkbox" />
                <div class="collapse-title font-semibold">
                    <h3 id="seminars-list"><span class="italic">Seminars - </span> What seminars are running?</h3>
                </div>
                <div class="collapse-content flex flex-col gap-2">
                    <p class="font-semibold">Room 4: Questbook</p>
                    <p>The Future of Professional Storytelling</p>
                    <p>
                        Join Jak and Dion from Questbook as they talk through their vision for the future of
                        professional storytelling.
                    </p>
                    <p class="font-semibold">Side Room (8): GRAIL - Shaun Garea</p>
                    <p>
                        Shaun Garea presents on the GRAIL gaming research project from the Massey University School of
                        Psychology. See how TTRPG's can be integrated into your work in academia, hear the working
                        hypotheses of ongoing projects, and get a first peek at the preliminary data that the project is
                        bringing back.
                    </p>
                    <p class="font-semibold">Room 5: Nacho The Clown</p>
                    <p>
                        Join the guild's own Brook for an hour of comedy as nacho the clown, an escaped TTRPG character.
                        A show you'll never forget but wish you did!
                    </p>
                </div>
            </div>
            <div class="collapse-plus collapse border border-base-300 bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title font-semibold">
                    <h3 id="photographs"><span class="italic">Ticket Prices -</span> What are the ticket prices?</h3>
                </div>
                <div class="collapse-content flex flex-col gap-2">
                    <p>Tickets coming on the 11th of July.</p>
                    <div class="flex flex-row flex-wrap gap-8">
                        <div>
                            <h3 class="text-lg">General Admission</h3>
                            <ul class="flex list-disc flex-col gap-2 pl-4">
                                <li>Weekend Ticket: $50</li>
                                <li>Saturday Day Ticket: $30</li>
                                <li>Sunday Day Ticket: $25</li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="text-lg">
                                <Tooltip align="bottom">
                                    <span>Concession <TooltipIcon /></span>
                                    <TooltipContent>(Under 18, Student, Community Services Card Holder)</TooltipContent>
                                </Tooltip>
                            </h3>
                            <ul class="flex list-disc flex-col gap-2 pl-4">
                                <li>Weekend Ticket: $40</li>
                                <li>Saturday Day Ticket: $25</li>
                                <li>Sunday Day Ticket: $20</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse-plus collapse border border-base-300 bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title font-semibold">
                    <h3 id="parking"><span class="italic">Parking -</span> Where is the best parking available?</h3>
                </div>
                <div class="collapse-content flex flex-col gap-2">
                    <p>
                        The best entrance to use is the Conference Centre entrance which is right next to a lovely big
                        car park. From the entrance of the hotel, drive straight past the hotel buildings until you get
                        to an open area for parking. The entrance should be clearly visible from here, to the left.
                    </p>
                </div>
            </div>
            <div class="collapse-plus collapse border border-base-300 bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title font-semibold">
                    <h3 id="accommodation">
                        <span class="italic">Accommodation -</span> I'm from out of town, where can I stay? Are there
                        discounts?
                    </h3>
                </div>
                <div class="collapse-content flex flex-col gap-2">
                    <p>
                        If you're coming from outside of the Tron this year, The Distinction Hotel, Hamilton is offering
                        a special discount for Convergence attendees, so you can sort accommodation for the weekend at
                        only $195/night for a superior king/twin room!
                    </p>
                    <p>
                        To access this discount you will have to book by phone only, quoting #192608. The code will not
                        work booking online.
                    </p>
                </div>
            </div>
            <div class="collapse-plus collapse border border-base-300 bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title font-semibold">
                    <h3 id="food"><span class="italic">Food and Drink -</span> Where can I get food during event?</h3>
                </div>
                <div class="collapse-content flex flex-col gap-2">
                    <p>
                        Unfortunately, we are not able to organise food for attendees. There are plenty of options
                        available, however. You are welcome to bring your own food in, as a packed lunch or take away
                        from a restaurant. There is a bakery around 5 minutes walk away, as well as several cafes. We
                        will have a list and map for these available on the website in the near future. Feel free to eat
                        your own food at a free gaming table but please be mindful of GMs setting up for the next
                        session.
                    </p>
                    <p>We'll have a coffee cart available for you to get your caffeine fix.</p>
                    <p>During the social on Sunday, dinner and drinks will be available from the hotel bar!</p>
                </div>
            </div>
            <div class="collapse-plus collapse border border-base-300 bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title font-semibold">
                    <h3 id="photographs">
                        <span class="italic">Photography -</span> Will I be photographed? Do I have permission to take
                        photographs?
                    </h3>
                </div>
                <div class="collapse-content flex flex-col gap-2">
                    <p>
                        We'll be taking photographs throughout the event to record the fun that everyone is having. Some
                        of those will probably be used in our promotional material or social media spaces. If you don't
                        wish to have your photograph taken, please speak to one of our staff members on the day and
                        we'll make sure you're kept out of any snaps we take.
                    </p>
                    <p>
                        Feel free to take your own photographs and to share them on social media but please ensure you
                        have permission to do so from anyone who features in your photos.
                    </p>
                </div>
            </div>
            <div class="collapse-plus collapse border border-base-300 bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title font-semibold">
                    <h3 id="ages"><span class="italic">Age Restrictions -</span> What ages can come to Convergence?</h3>
                </div>
                <div class="collapse-content flex flex-col gap-2">
                    <p>
                        TTRPGs can be great for kids - they improve social skills, promote teamwork and involve maths!
                        Children ages 13-15 are welcome to play, however, a parent/guardian needs to attend with them.
                        Unfortunately, we cannot host under-13s at this event, but you can bring them to our merchants
                        area and Sunday seminars. Other WRPG events are child friendly, such as Dice & Districts.
                    </p>
                    <p>
                        Parents are welcome to bring very young children with them. We have had attendees GM and play
                        with babies strapped to their chest!
                    </p>
                </div>
            </div>
            <div class="divider divider-vertical"></div>
            <h2 class="text-xl">See the games submitted so far</h2>
            <p>
                We have a number of games submitted already, and more are coming in every day! Check out the
                <a href="/games" class="link">games page</a> to see what has been submitted so far.
            </p>
            <a href="/games" class="btn mx-auto btn-xl btn-primary">View All Games</a>
            <h2 class="mt-4 text-xl">Got another question?</h2>
            <p>If it's not answered on this page, it might be answered in the FAQ.</p>
            <a href="/faq" class="btn mx-auto btn-xl btn-primary">View The FAQ</a>
            <!-- prettier-ignore-start -->
            <div class="divider divider-vertical"></div>
            <h2 class="text-xl" id="sponsors">Sponsors</h2>
            <h3 class="mt2 text-lg">Gold Tier</h3>
            <div class="grid grid-cols-1 gap-2">
                <SponsorCard tier="gold" img-src="/static/images/sponsors/gamersphere.png" name="Gamersphere" website_url="https://www.gamersphere.nz/" />
            </div>
            <h3 class="mt2 text-lg">Silver Tier</h3>
            <div class="grid grid-cols-2 gap-2 md:grid-cols-2 lg:grid-cols-3">
                <SponsorCard tier="silver" img-src="/static/images/sponsors/dice_goblin.png" name="Dice Goblin" website_url="https://www.dicegoblin.nz/" />
                <SponsorCard tier="silver" img-src="/static/images/sponsors/gaming_dna.png" name="Gaming DNA" website_url="https://gamingdna.co.nz/" />
                <SponsorCard tier="silver" img-src="/static/images/sponsors/beadnd.png" name="BeaDnD" website_url="https://www.beadndgames.co.nz/" />
                <SponsorCard tier="silver" img-src="/static/images/sponsors/chaosium.png" name="Chaosium" website_url="https://www.chaosium.com/" />
                <SponsorCard tier="silver" img-src="/static/images/sponsors/cold_robot_design.png" name="Cold Robot Design" website_url="https://www.coldrobotdesign.co.nz/" />
            </div>
            <h3 class="mt2 text-lg">Prize Support</h3>
            <div class="grid grid-cols-2 gap-2 md:grid-cols-3 lg:grid-cols-4">
                <SponsorCard tier="prize" img-src="/static/images/sponsors/game_roost.png" name="Game Roost" website_url="https://www.gameroost.co.nz/" />
                <SponsorCard tier="prize" img-src="/static/images/sponsors/free_league.png" name="Free League" website_url="https://freeleaguepublishing.com/" />
                <SponsorCard tier="prize" img-src="/static/images/sponsors/flat_cap_games.jpg" name="Flat Cap Games" website_url="https://www.facebook.com/flatcapgames/" />
                <SponsorCard tier="prize" img-src="/static/images/sponsors/cheeky_parrot.png" name="Cheeky Parrot Games" website_url="https://www.cheekyparrotgames.com/" />
                <SponsorCard tier="prize" img-src="/static/images/sponsors/looking_glass_workshop.png" name="Looking Glass Workshop" website_url="https://lookingglassworkshop.com/" />
                <SponsorCard tier="prize" img-src="/static/images/sponsors/ludogix.png" name="Ludogix" website_url="https://ludogix.com/" />
                <SponsorCard tier="prize" img-src="/static/images/sponsors/schilmil.jpg" name="SchilMil" website_url="https://www.schilmilgames.com/" />
                <SponsorCard tier="volunteer" img-src="/static/images/sponsors/escapist.png" name="Escapist" website_url="https://www.escapist.co.nz/" />
            </div>
            <div class="divider divider-vertical"></div>
            <!-- prettier-ignore-end -->
        </PageContainer>
    {% endblock %}
</Page>
