<Page>
    {% block content %}
        <title>FAQ - Convergence 2025</title>

        <PageContainer>
            <h1 class="text-xl">Important Info</h1>
            <p>
                The biggest annual event from the Waikato Role-Playing Guild is returning this September: Convergence!
                We will be bringing you an epic weekend of role-playing, giveaways, and banter, capped off with a social
                function on Sunday evening. Check back for more announcements including ticket sales, game submissions
                and more!
            </p>
            <h2 class="mt-4 text-xl">When</h2>
            <p>13th and 14th September 2025</p>
            <p>Doors open at 8am</p>
            <h2 class="mt-4 text-xl">Where</h2>
            <div class="flex flex-row flex-wrap gap-4">
                <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:300px;height:300px;">
                    <div id="g-mapdisplay" style="height:100%; width:100%;max-width:100%;">
                        <iframe
                            style="height:100%;width:100%;border:0;"
                            frameborder="0"
                            src="https://www.google.com/maps/embed/v1/place?q=the+distinction+hotel+and+conference+centre+hamilton&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
                        ></iframe>
                    </div>
                    <style>
                        #g-mapdisplay img {
                            max-height: none;
                            max-width: none !important;
                            background: none !important;
                        }
                    </style>
                </div>
                <div class="max-w-54 flex flex-col gap-2">
                    <p>The Distinction Hamilton Hotel & Conference Centre, 100 Garnett Avenue, Hamilton.</p>
                    <p>The Conference Centre is at the rear of the hotel.</p>
                </div>
            </div>
            <h2 class="mt-4 text-xl">Key Dates</h2>
            <ul class="flex list-disc flex-col gap-2 pl-4">
                <li>6th June - Initial round of GM submissions close</li>
                <li>
                    13th - 27th June - Pre-sales for weekend tickets (only for WRPG society members and previous
                    attendees)
                </li>
                <li>11th July - General ticket sales open</li>
            </ul>
            <h2 class="mt-4 text-xl">Ticket Prices</h2>
            <h3 class="text-lg">General Admission</h3>
            <ul class="flex list-disc flex-col gap-2 pl-4">
                <li>Weekend Ticket: $50</li>
                <li>Saturday Day Ticket: $30</li>
                <li>Sunday Day Ticket: $25</li>
            </ul>
            <h3 class="text-lg">Concession (Under 18, Student, Community Services Card Holder)</h3>
            <ul class="flex list-disc flex-col gap-2 pl-4">
                <li>Weekend Ticket: $40</li>
                <li>Saturday Day Ticket: $25</li>
                <li>Sunday Day Ticket: $20</li>
            </ul>
            <h2 class="mt-4 text-xl">Timetable</h2>
            <div class="flex flex-row flex-wrap gap-8">
                <div class="flex flex-col gap-2">
                    <h3 class="text-lg">Saturday</h3>
                    <table>
                        {%
                            for time, info, style in [
                                ("8:00am", "Doors Open", ""),
                                ("8:45am", "Welcome", ""),
                                ("9:00am", "Session 1", "font-semibold"),
                                ("12:00pm", "Lunch", ""),
                                ("1:30pm", "Session 2", "font-semibold"),
                                ("4:30pm", "Dinner", ""),
                                ("6:00pm", "Session 3", "font-semibold"),
                                ("10:00pm", "End of Day", ""),
                            ]
                        %}
                            <tr>
                                <td class="border-r pr-2 text-right align-top">{{ time }}</td>
                                <td class="{{ style }} pl-2 text-left align-top">{{ info }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="text-lg">Sunday</h3>
                    <table>
                        {%
                            for time, info, style in [
                                ("8:00am", "Doors Open", ""),
                                ("8:45am", "Welcome", ""),
                                ("9:00am", "Session 4", "font-semibold"),
                                ("12:00pm", "Lunch", ""),
                                ("1:15pm", "Seminars", ""),
                                ("2:30pm", "Session 5", "font-semibold"),
                                ("6:30pm", "End of Gaming", ""),
                                ("7:00pm", "Social", ""),
                            ]
                        %}
                            <tr>
                                <td class="border-r pr-2 text-right align-top">{{ time }}</td>
                                <td class="{{ style }} pl-2 text-left align-top">{{ info }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <a href="/faq" class="btn btn-xl btn-primary mx-auto">More Information in the FAQ</a>
        </PageContainer>
    {% endblock %}
</Page>
