<Page>
    {% block content %}
        <title>Register an Account - Convergence 2025</title>
        <PageContainer>
            <div>We need some more info to complete your profile</div>
            <form id="more-info-form" hx-post="/profile" hx-target="#content">
                <button type="submit" disabled class="hidden" aria-hidden="true"></button>
                <FieldsetBase>
                    <legend class="fieldset-legend">Public Information</legend>
                    {# Name #}
                    <label class="fieldset-label">Name</label>
                    <div>
                        <input
                            type="text"
                            class="input"
                            placeholder="First"
                            name="first_name"
                            value="{{ request.user.first_name }}"
                            required
                        />
                        <input
                            type="text"
                            class="input"
                            placeholder="Last"
                            name="last_name"
                            value="{{ request.user.last_name }}"
                        />
                    </div>
                </FieldsetBase>
                <FieldsetBase>
                    <legend class="fieldset-legend">Private Information</legend>
                    {# Over 18 #}
                    <label class="flex items-center gap-2">
                        <input type="checkbox" class="checkbox" name="over_18" />
                        <span>I am 18+</span>
                    </label>
                </FieldsetBase>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </PageContainer>
    {% endblock %}
</Page>
