<Page>
    {% block content %}
        <title>My Submissions - Convergence 2025</title>
        <PageContainer>
            <div>My Submissions</div>
            {% if games %}
                <ul class="list bg-base-200 rounded-box">
                    {% for game in games %}
                        <li class="list-row items-center">
                            <div>{{ game.name }}</div>
                            <div class="{{ game.submission_status.color_classes }}">{{ game.submission_status }}</div>
                            <div>({{ game.game_requirement.times_to_run }} sessions)</div>
                            <a href="/game/{{ swim(game) }}" class="btn btn-neutral btn-outline">View</a>
                            <a href="/game/{{ swim(game) }}/edit" class="btn btn-neutral btn-outline" disabled
                                >Edit Coming Soon</a
                            >
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {% set submit_game_url = "/submit-game/" ~ swim("Event", 1) %}
                <div class="flex flex-col gap-4">
                    <p>You haven't submitted anything yet.</p>
                    <button
                        class="btn btn-xl btn-primary mx-auto"
                        hx-get="{{ submit_game_url }}"
                        hx-target="#content"
                        hx-push-url="true"
                    >
                        Submit a Game to Convergence 2025
                    </button>
                </div>
            {% endif %}
        </PageContainer>
    {% endblock %}
</Page>
