<Page>
    {% block content %}
        <title>My Submissions - Convergence 2025</title>
        <PageContainer>
            <div>My Submissions</div>
            <div class="flex flex-col gap-4">
                {% if games %}
                    <ul class="list bg-base-200 rounded-box">
                        {% for game in games %}
                            <li class="list-row items-center">
                                <div>{{ game.name }}</div>
                                <div></div>
                                <div class="{{ game.submission_status.color_classes }}">
                                    {{ game.submission_status }}
                                </div>
                                <div>
                                    ({{ game.game_requirement.times_to_run }}<span class="hidden md:inline-block">
                                        &nbsp;sessions</span
                                    >)
                                </div>
                                <a href="/game/{{ swim(game) }}" class="btn btn-sm btn-neutral">View</a>
                                <a href="/game/{{ swim(game) }}/edit" class="btn btn-sm btn-neutral">Edit</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <button
                        class="btn btn-xl btn-primary mx-auto"
                        hx-get="/submit-game"
                        hx-target="#content"
                        hx-push-url="true"
                    >
                        Submit another game
                    </button>
                {% else %}
                    <p>You haven't submitted anything yet.</p>
                    <a class="btn btn-xl btn-primary mx-auto" href="/submit-game">
                        Submit a Game to Convergence 2025
                    </a>
                    {# TODO: RESUBMISSIONS #}
                    <p>Note that submissions are currently closed</p>
                {% endif %}
            </div>
        </PageContainer>
    {% endblock %}
</Page>
