<Page>
    {% block content %}
        <title>Profile - Convergence 2025</title>
        <div>You are logged in as {{ request.user.name }}</div>
        <div>Email: {{ request.user.email }}</div>
        <button class="btn btn-error" hx-post="/oauth2/logout" hx-target="#content">Logout</button>
    {% endblock %}
</Page>
