<Page>
    {% block content %}
        <title>Settings - Convergence 2025</title>
        <PageContainer>
            <div>Settings</div>
            <FieldsetBase>
                <legend class="fieldset-legend">Theme</legend>
                <ul class="menu grid w-full grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4">
                    {%
                        for theme_name in [
                            "convergence_light",
                            "convergence_dark",
                            "light",
                            "dark",
                            "cupcake",
                            "bumblebee",
                            "emerald",
                            "corporate",
                            "synthwave",
                            "retro",
                            "cyberpunk",
                            "valentine",
                            "halloween",
                            "garden",
                            "forest",
                            "aqua",
                            "lofi",
                            "pastel",
                            "fantasy",
                            "wireframe",
                            "black",
                            "luxury",
                            "dracula",
                            "cmyk",
                            "autumn",
                            "business",
                            "acid",
                            "lemonade",
                            "night",
                            "coffee",
                            "winter",
                            "dim",
                            "nord",
                            "sunset",
                            "caramellatte"
                            "abyss",
                            "silk",
                        ]
                    %}
                        <li class="w-full min-w-0">
                            <button
                                data-theme="{{ theme_name }}"
                                class="p-4"
                                _="on click
                                set localStorage.theme to my @data-theme
                                then
                                set <html/>'s @data-theme to my @data-theme
                                "
                            >
                                <div
                                    class="grid shrink-0 grid-cols-2 gap-0.5 rounded-md border-1 bg-base-100 p-1 shadow-sm"
                                >
                                    <div class="size-1 rounded-full bg-accent"></div>
                                    <div class="size-1 rounded-full bg-base-content"></div>
                                    <div class="size-1 rounded-full bg-primary"></div>
                                    <div class="size-1 rounded-full bg-secondary"></div>
                                </div>
                                <div class="inline-block overflow-hidden">{{ theme_name }}</div>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </FieldsetBase>
        </PageContainer>
    {% endblock %}
</Page>
