<Page>
    {% block content %}
        <title>Submit Game - Convergence 2025</title>
        <div>
            <h1>Submit Game</h1>
            {% set initial_content="<b>Some default test text</b>" %}
            <utilities.TipTap :initial_content="initial_content" />
            {# 
            Here's all the things the original form had:
            * Info about the event
            About you:
            * Email
            * Full Name
            * Mobile Number
            * Discord handle
            * Abiding by the code of conduct

            Timetable logistics (We should do this later):
            * Length of timeslot needed
            * What day(s) you're available
            * How many timeslots you're available for
            * Any extra information

            Game info:
            * Title
            * System
            * Genre(s)
            * Description
            * Player count ranges
            * Age suitability
            * Crunch/weight
            * Narrative vs mechanics
            * Tone
            * Content warnings

            Extra game info:
            * NZ made?
            * Would you like a spotlight arranged
            * Any extra info

            Things the form missed:
            * Quiet room needed?
             #}
        </div>
    {% endblock %}
</Page>
