<Page>
    {% block content %}
        <title>Submit Game - Convergence 2025</title>
        <div>
            <h1 class="text-xl font-bold">Submit Game</h1>
            <span class="text-warning">
                TODO: Inputs with warning background color need to be smart/fuzzy find multi selects
            </span>
            <form>
                <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
                    <legend class="fieldset-legend">Game Information</legend>
                    <span>
                        This information will be publicly visible for players to decide their preferences. You'll be
                        able to edit this until shortly before the event.
                    </span>
                    {# Title #}
                    <label class="fieldset-label">Title</label>
                    <input type="text" class="input" placeholder="Title" name="title" required />
                    {# System #}
                    <label class="fieldset-label">System</label>
                    <forms.search.SearchContainer name="system"></forms.search.SearchContainer>
                    {# Tagline #}
                    <label class="fieldset-label">Tagline</label>
                    <input type="text" class="input" placeholder="Tagline" name="tagline" required />
                    {# Description #}
                    <label class="fieldset-label">Description</label>
                    <utilities.TipTap form_input_name="description" />
                    {# Genre #}
                    <label class="fieldset-label">Genres</label>
                    {% for genre in genres %}
                        {# TODO: Must select at least one genre #}
                        <label>
                            <input type="checkbox" name="genre" class="checkbox" value="{{ swim(genre) }}" />
                            <span>{{ genre.name }}</span>
                        </label>
                    {% endfor %}
                    {# Tone #}
                    <label class="fieldset-label">Tone</label>
                    <div class="flex flex-col">
                        {% for tone in tones %}
                            <label>
                                <input type="radio" name="tone" class="radio" value="{{ tone }}" required />
                                <span>{{ tone }}</span>
                            </label>
                        {% endfor %}
                    </div>
                    {# Content warnings #}
                    <label class="fieldset-label">Content Warnings</label>
                    {% for content_warning in content_warnings %}
                        <label>
                            <input
                                type="checkbox"
                                name="content_warning"
                                class="checkbox"
                                value="{{ swim(content_warning) }}"
                            />
                            <span>{{ content_warning.name }}</span>
                        </label>
                    {% endfor %}
                    {# Crunch/weight #}
                    <label class="fieldset-label">Crunch</label>
                    <div class="flex flex-col">
                        {% for crunch in crunches %}
                            <label>
                                <input type="radio" name="crunch" class="radio" value="{{ crunch }}" required />
                                <span>{{ crunch }}</span>
                            </label>
                        {% endfor %}
                    </div>
                    {# Narrative vs mechanics #}
                    <label class="fieldset-label">Narrative/Mechanics</label>
                    <div class="flex flex-col">
                        {% for narrativism in narrativisms %}
                            <label>
                                <input
                                    type="radio"
                                    name="narrativism"
                                    class="radio"
                                    value="{{ narrativism }}"
                                    required
                                />
                                <span>{{ narrativism }}</span>
                            </label>
                        {% endfor %}
                    </div>
                    {# Player Count #}
                    <label class="fieldset-label">Player Count</label>
                    <forms.multislider.MultisliderContainer
                        :min_value="1"
                        :max_value="7"
                        :display_titles="true"
                        :allow_more="true"
                    >
                        <forms.multislider.Multislider
                            title="Minimum"
                            input_name="player_count_minimum"
                            constrain_below="player_count_optimum"
                            value="2"
                        />
                        <forms.multislider.Multislider
                            title="Optimum"
                            input_name="player_count_optimum"
                            constrain_above="player_count_minimum"
                            constrain_below="player_count_maximum"
                            value="4"
                        />
                        <forms.multislider.Multislider
                            title="Maximum"
                            input_name="player_count_maximum"
                            constrain_above="player_count_optimum"
                            value="6"
                        />
                    </forms.multislider.MultisliderContainer>
                    {# Age suitability #}
                    <label class="fieldset-label">Age Suitabilty & Classification</label>
                    <div class="flex flex-row gap-4">
                        <label
                            class="has-checked:border-2 has-checked:opacity-100 flex h-12 w-12 items-center justify-center rounded-full border-gray-500 bg-yellow-300 opacity-50"
                        >
                            <input type="radio" name="classification" class="hidden" value="PG" checked required />
                            <span class="block text-lg font-bold">PG</span>
                        </label>
                        <label
                            class="has-checked:border-2 has-checked:opacity-100 flex h-12 w-12 items-center justify-center rounded-full border-gray-500 bg-yellow-300 opacity-50"
                        >
                            <input type="radio" name="classification" class="hidden" value="M" required />
                            <span class="block text-lg font-bold">M</span>
                        </label>
                        <label
                            class="has-checked:border-2 has-checked:opacity-100 flex h-12 w-12 items-center justify-center rounded-md border-gray-500 bg-red-500 opacity-50"
                        >
                            <input type="radio" name="classification" class="hidden" value="R18" required />
                            <span class="block text-lg font-bold">R18</span>
                        </label>
                    </div>

                    {# Key Selling Points #}
                    <label class="fieldset-label">Bonuses</label>
                    {% for ksp in ksps %}
                        <label class="fieldset-label">
                            <input type="checkbox" class="checkbox" name="ksp" value="{{ ksp }}" />
                            <span>{{ ksp.form_notes[0] }}</span>
                        </label>
                    {% endfor %}
                    {# Anything else? #}
                </fieldset>

                <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
                    <legend class="fieldset-legend">Scheduling Information</legend>
                    <span>
                        This information will be visible to the organisers so they can schedule the sessions where your
                        game is offered. You'll be able to edit this until the schedule is fixed prior to the event.
                    </span>

                    <label class="fieldset-label">How many times do you want to run this game?</label>
                    <forms.multislider.MultisliderContainer
                        :min_value="1"
                        :max_value="5"
                        :display_titles="false"
                        :allow_more="false"
                    >
                        <forms.multislider.Multislider title="Times" value="2" input_name="times_to_run" />
                    </forms.multislider.MultisliderContainer>

                    <label class="fieldset-label">In which time slots could you run this game?</label>
                    <span>Please be flexible and mark all time slots you could do</span>
                    {{ event }}
                    {% for time_slot in event.time_slots %}
                        <label class="fieldset-label">
                            <input
                                type="checkbox"
                                class="checkbox"
                                name="available_time_slot"
                                value="{{ swim(time_slot) }}"
                            />
                            <span class="bg-warning">
                                {{ time_slot.name }} {{ time_slot.start_time }} - {{ time_slot.end_time }}
                            </span>
                        </label>
                    {% endfor %}

                    <label class="fieldset-label">Any extra notes/preferences to help with scheduling?</label>
                    <textarea class="textarea" name="scheduling_notes"></textarea>

                    <label class="fieldset-label">Table Size Requirements</label>
                    {% for table_size_requirement in table_size_requirements %}
                        <label class="fieldset-label">
                            <input
                                type="checkbox"
                                class="checkbox"
                                name="table_size_requirement"
                                value="{{ table_size_requirement }}"
                            />
                            <span>{{ table_size_requirement.form_notes[0] }}</span>
                        </label>
                    {% endfor %}
                    <label class="fieldset-label">Any other notes on table size?</label>
                    <textarea class="textarea" name="table_size_notes"></textarea>

                    <label class="fieldset-label">Equipment Requirements</label>
                    {% for equipment_requirement in equipment_requirements %}
                        <label class="fieldset-label">
                            <input
                                type="checkbox"
                                class="checkbox"
                                name="equipment_requirement"
                                value="{{ equipment_requirement }}"
                            />
                            <span>{{ equipment_requirement.form_notes[0] }}</span>
                        </label>
                    {% endfor %}
                    <label class="fieldset-label">Any other notes on equipment?</label>
                    <textarea class="textarea" name="equipment_notes"></textarea>

                    <label class="fieldset-label">Activity Requirements</label>
                    {% for activity_requirement in activity_requirements %}
                        <label class="fieldset-label">
                            <input
                                type="checkbox"
                                class="checkbox"
                                name="activity_requirement"
                                value="{{ activity_requirement }}"
                            />
                            <span>{{ activity_requirement.form_notes[0] }}</span>
                        </label>
                    {% endfor %}
                    <label class="fieldset-label">Any other notes on activities?</label>
                    <textarea class="textarea" name="activity_notes"></textarea>

                    <label class="fieldset-label">Room Requirements</label>
                    {% for room_requirement in room_requirements %}
                        <label class="fieldset-label">
                            <input
                                type="checkbox"
                                class="checkbox"
                                name="room_requirement"
                                value="{{ room_requirement }}"
                            />
                            <span>{{ room_requirement.form_notes[0] }}</span>
                        </label>
                    {% endfor %}
                    <label class="fieldset-label">Any other notes on rooms?</label>
                    <textarea class="textarea" name="room_notes"></textarea>
                </fieldset>

                <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
                    <legend class="fieldset-legend">Housekeeping</legend>
                    <label class="fieldset-label">
                        <input type="checkbox" class="checkbox validator" required title="Required" />
                        <span>I agree to the <a class="link" href="TODO">Waikato RPG Code of Conduct</a></span>
                        <p class="validator-hint">You must agree to the Waikato RPG Code of Conduct</p>
                    </label>
                </fieldset>
                <button class="btn btn-primary" hx-post="/submit_game/{{ swim(event) }}">Submit</button>
            </form>
        </div>
    {% endblock %}
</Page>
