<Layout>
    {% block content %}
        <title>Test Page 1</title>
        <utilities.Card>
            {% for i in range(0, 10) %}
                <div class="bg-red-900">Test {{ i }}</div>
            {% endfor %}
        </utilities.Card>
    {% endblock %}
</Layout>
