<Layout title="Test Page">
    {% block content %}
        <utilities.Card>
            {% for i in range(0, 10) %}
                <div class="bg-green-900">Test {{ i }}</div>
            {% endfor %}
        </utilities.Card>
    {% endblock %}
</Layout>
