<p class="opacity-50">You're solo right now - you can go solo, or form a party of up to three!</p>
<p>People can join your party by entering this code:</p>
<div class="flex flex-row gap-2">
    <label class="input input-bordered flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
            <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd"
            />
        </svg>
        <input
            type="text"
            name="host_code"
            id="name"
            class="grow"
            placeholder="Enter a Party Code"
            value="{{ adventuring_group.name }}"
        />
    </label>
    <button
        class="btn btn-primary"
        hx-put="/change_group_name?adventuring_group_id={{ adventuring_group.id }}"
        hx-include="[name='host_code']"
        hx-target="#schedule_contents"
    >
        Update Code
    </button>
</div>
<p>Or you can join using their code:</p>
<div class="flex flex-row gap-2">
    <label class="input input-bordered flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
            <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd"
            />
        </svg>
        <input type="text" name="join_code" id="name" class="grow" placeholder="Enter a Party Code" value="" />
    </label>
    <button
        class="btn btn-primary"
        hx-put="/join_group?current_adventuring_group_id={{ adventuring_group.id }}"
        hx-include="[name='join_code']"
        hx-target="#schedule_contents"
        hx-confirm="Are you sure you wish to join a party? You will be removed from your current party."
    >
        Join
    </button>
</div>
