<p class="text-sm opacity-50">You're in a party!</p>
<p>
    People can join your party with this code:&nbsp;
    <span hx-target="this">
        <span class="text-lg font-semibold">{{ adventuring_group.name }}</span>
        <button
            class="btn btn-ghost btn-sm"
            hx-get="/adventuring_party_edit_code?adventuring_group_id={{ adventuring_group.id }}&adventuring_group_name={{ adventuring_group.name }}&time_slot_id={{ time_slot.id }}"
            hx-swap="outerHTML"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square inline"
                viewBox="0 0 16 16"
            >
                <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                />
            </svg>
        </button>
    </span>
</p>
<p class="text-xl font-semibold antialiased">Party Members ({{ adventuring_group.members | length }} / 3)</p>
<ul class="ml-4 flex flex-col gap-2">
    {% for member in adventuring_group.members %}
        <li class="flex flex-row gap-1">
            <span>{{ member.name }}</span>
            {% for i in range(member.golden_d20s) %}
                <div class="mask-d20 mask grid h-6 w-6 place-items-center bg-yellow-400 leading-none text-base-100">
                    <span class="font-bold">20</span>
                </div>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
<span>
    <button
        class="btn btn-outline btn-accent inline-block"
        hx-put="/leave_group?adventuring_group_id={{ adventuring_group.id }}"
        hx-target="#schedule_contents"
        hx-confirm="Are you sure you wish to leave this adventuring party?"
    >
        Leave Party
    </button>
</span>
