<p class="text-sm opacity-50">You're solo this session - you can stay solo, or form a party of up to three!</p>
<p>
    People can join your party with this code:&nbsp;
    <span hx-target="this">
        <span class="text-lg font-semibold">{{ adventuring_group.name }}</span>
        <button
            class="btn btn-ghost btn-sm"
            hx-get="/adventuring_party_edit_code?adventuring_group_id={{ adventuring_group.id }}&adventuring_group_name={{ adventuring_group.name }}&time_slot_id={{ time_slot.id }}"
            hx-swap="outerHTML"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square inline"
                viewBox="0 0 16 16"
            >
                <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                />
            </svg>
        </button>
    </span>
</p>
<p>
    Or you can join using their code:&nbsp;
    <span class="inline-flex flex-row flex-wrap gap-2">
        <label class="input input-sm input-bordered flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
                <path
                    fill-rule="evenodd"
                    d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                    clip-rule="evenodd"
                />
            </svg>
            <input type="text" name="join_code" id="join_name" class="grow" placeholder="Enter a Party Code" value="" />
        </label>
        <button
            class="btn btn-sm"
            hx-put="/join_group?current_adventuring_group_id={{ adventuring_group.id }}"
            hx-include="[name='join_code']"
            hx-target="#schedule_contents"
            hx-trigger="click, keyup[keyCode==13] from:#join_name"
            hx-confirm="Are you sure you wish to join a party? You will be removed from your current party."
        >
            Join
        </button>
    </span>
</p>
