{% set common_rating_styles = "mask relative after:absolute after:left-1/2 after:after:m-auto after:block after:-translate-x-1/2 after:text-center after:align-middle after:font-bold after:text-base-100" %}
<div class="rating rating-md">
    <input
        type="radio"
        class="rating-hidden"
        name="{{ input_name }}"
        value="0"
        {% if starting_value == "0" %}checked{% endif %}
    />
    <input
        type="radio"
        class="mask-d4 {{ common_rating_styles }} bg-blue-400 after:content-['4']"
        name="{{ input_name }}"
        value="1"
        {% if starting_value == "1" %}checked{% endif %}
    />
    <input
        type="radio"
        class="mask-d6 {{ common_rating_styles }} bg-indigo-400 after:content-['6']"
        name="{{ input_name }}"
        value="2"
        {% if starting_value == "2" %}checked{% endif %}
    />
    <input
        type="radio"
        class="mask-d8 {{ common_rating_styles }} bg-violet-400 after:content-['8']"
        name="{{ input_name }}"
        value="3"
        {% if starting_value == "3" %}checked{% endif %}
    />
    <input
        type="radio"
        class="mask-d10 {{ common_rating_styles }} bg-red-400 after:content-['10']"
        name="{{ input_name }}"
        value="4"
        {% if starting_value == "4" %}checked{% endif %}
    />
    <input
        type="radio"
        class="mask-d12 {{ common_rating_styles }} bg-orange-400 after:content-['12']"
        name="{{ input_name }}"
        value="5"
        {% if starting_value == "5" %}checked{% endif %}
    />
    {% if enable_d20 %}
        <input
            type="radio"
            class="mask-d20 {{ common_rating_styles }} checked:out bg-yellow-400 after:content-['20']"
            name="{{ input_name }}"
            value="20"
            {% if starting_value == "20" %}checked{% endif %}
        />
    {% endif %}
</div>
