<a class="card w-full cursor-pointer bg-base-200 shadow-xl" href="/games/{{ game.id }}">
    <div class="card-body gap-3">
        <h2 class="card-title">{{ game.title }}</h2>
        <h3 class="font-sans antialiased">
            <span class="font-semibold">{{ game.system.name }}</span>
            <span class="font-thin">| {{ game.gamemaster.name }}</span>
        </h3>
        <p class="h-fit text-xs">{{ game.short_description }}</p>
        {{ render_partial('shared/partials/game_quick_info.html.jinja', game=game, cols=4) }}
        {% if table_allocation_id %}
            <form
                hx-post="/preferences?table_allocation_id={{ table_allocation_id }}&time_slot_id={{ time_slot_id }}"
                hx-swap="none"
                hx-trigger="change delay:200ms"
                class="rating-form inline-flex justify-around"
            >
                {{
                    render_partial('shared/partials/game_preference_rating.html.jinja', input_name="rating",
                    enable_d20=adventuring_group.has_d20s, starting_value=current_preference|string)
                }}
            </form>
        {% endif %}
        {% if FLAG_SCHEDULE and not table_allocation_id %}
            <div class="absolute bottom-4 right-4 flex flex-row items-center justify-items-center gap-1">
                {% for day_name, session_flags in game.schedule %}
                    <div class="flex flex-col items-center justify-items-center">
                        <span class="font-mono text-[8px]">{{ day_name }}</span>
                        <div class="flex flex-row">
                            {% for flag in session_flags %}
                                {% set classes = ("h-2 w-3 bg-accent" if flag else "h-2 w-3 border-[1px] border-neutral") %}
                                <div class="{{ classes }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</a>
