{%
    set gm_classes = (
    "border-yellow-400" if group.is_gm else
    "border-current")
%}
<div class="{{ gm_classes }} mx-auto flex w-full max-w-96 flex-col items-start justify-between rounded border p-2">
    <ul class="flex flex-col">
        {% for player in group.members %}
            <li>
                {{ player.name }}
                {% if group.is_gm %}
                    <span class="badge badge-outline gap-2 text-yellow-400">GM</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
