<div hx-target="this" class="flex max-w-full flex-row gap-2">
    <button
        class="btn btn-outline btn-sm self-end"
        hx-get="/move_menu?group_id={{ group_id }}&time_slot_id={{ time_slot_id }}"
        hx-swap="outerHTML"
    >
        Move
    </button>
    <button
        class="btn btn-outline btn-sm self-end"
        hx-put="/admin/checkin?group_id={{ group_id }}&checkin={{ checkin }}"
        hx-confirm="Are you sure you want to check {{ 'in' if checkin else 'out' }} this group?"
        hx-headers='javascript:{"X-API-Key":document.querySelector("input[name=X-API-Key]").value}'
        hx-target="#allocate_contents"
    >
        {% if checkin %}
            Check In
        {% else %}
            Check Out
        {% endif %}
    </button>
</div>
