<div hx-target="this" class="max-w-full">
    <select class="select max-w-full" name="table_allocation_id">
        {% for candidate in candidates %}
            {% set preference = (candidate.preference if candidate.preference else 3) %}
            {% if preference == 0 %}
                {% set specific_rating_styles = "text-gray-400" %}
            {% elif preference == 1 %}
                {% set specific_rating_styles = "text-blue-400" %}
            {% elif preference == 2 %}
                {% set specific_rating_styles = "text-indigo-400" %}
            {% elif preference == 3 %}
                {% set specific_rating_styles = "text-violet-400" %}
            {% elif preference == 4 %}
                {% set specific_rating_styles = "text-red-400" %}
            {% elif preference == 5 %}
                {% set specific_rating_styles = "text-orange-400" %}
            {% elif preference == 20 %}
                {% set specific_rating_styles = "text-yellow-400" %}
            {% endif %}
            <option
                value="{{ candidate.table_allocation_id }}"
                class="{{ specific_rating_styles }}"
                {% if candidate.table_allocation_id == current_table_allocation_id %}selected{% endif %}
            >
                {{ candidate.title }} @ {{ candidate.table_number }} ({{ preference }})
            </option>
        {% endfor %}
    </select>
    <div class="flex flex-row">
        <button
            class="btn btn-primary btn-sm"
            hx-put="/move?group_id={{ group_id }}"
            hx-include="[name='table_allocation_id']"
            hx-headers='javascript:{"X-API-Key":document.querySelector("input[name=X-API-Key]").value}'
            hx-target="#allocate_contents"
        >
            Confirm
        </button>
        <button
            class="btn btn-outline btn-accent btn-sm self-end"
            hx-get="/move_button?leader_id={{ leader_id }}&current_table_allocation_id={{ current_table_allocation_id }}"
            hx-swap="outerHTML"
        >
            Cancel
        </button>
    </div>
</div>
