<button
    class="btn btn-outline btn-sm self-end"
    hx-get="/move_menu?group_id={{ group_id }}&current_table_allocation_id={{ current_table_allocation_id }}"
    hx-swap="outerHTML"
>
    Move
</button>
