<div class="group md:dropdown -md:collapse -md:bg-base-200">
    <input type="checkbox" class="peer md:hidden" />
    {# Collapse Title #}
    <div
        tabindex="0"
        class="collapse-title text-sm font-medium after:ml-1 after:inline-flex after:items-center after:text-xs after:transition-transform after:content-['▼'] peer-checked:after:-rotate-180 md:hidden"
    >
        {{ title }}
    </div>
    {# Dropdown Title #}
    <div
        tabindex="0"
        role="button"
        class="btn text-sm font-medium after:ml-1 after:inline-flex after:items-center after:text-xs after:transition-transform after:content-['▼'] group-focus-within:after:-rotate-180 -md:hidden"
        _="
      on touchstart or mousedown
      if the event's target.classList contains 'opened'
      then call document.activeElement.blur()
      then halt
      end
      on focus add .opened to me
      on blur remove .opened from me
      "
    >
        {{ title }}
    </div>
    {# Content #}
    {% set cols = cols|default(2) %}
    {% set rem = 12 * cols %}
    <div
        class="collapse-content dropdown-content z-[1] md:menu md:box-border md:w-[{{ rem }}rem] md:rounded-box md:bg-base-200 md:p-2 md:shadow"
    >
        <ul tabindex="0" class="grid-cols-{{ cols }} grid-flow-row gap-1 md:grid">
            {% for option in options %}
                <li class="box-border">
                    <label class="label h-full cursor-pointer hover:bg-base-100">
                        <span class="label-text">{{ option.name }}</span>
                        <input
                            type="checkbox"
                            class="checkbox-accent checkbox"
                            value="{{ option.value }}"
                            name="{{ form_name }}"
                            {% if option.checked %}checked{% endif %}
                        />
                    </label>
                </li>
            {% endfor %}
        </ul>
        {% set input_filter = "<input[name=" + form_name + "/>" %}
        <div>
            <button
                type="button"
                class="btn btn-outline btn-accent"
                _="on click set {{ input_filter }}'s checked to false then trigger change"
            >
                Clear
            </button>
            <button
                type="button"
                class="btn btn-outline btn-accent"
                _="on click set {{ input_filter }}'s checked to true then trigger change"
            >
                Select All
            </button>
        </div>
    </div>
</div>
