<div class="flex flex-col gap-4 p-2 pl-0" id="preferences-content">
    <h2 class="ml-2">Game Preferences - {{ time_slot.start_time.strftime('%H:%M %A') }}</h2>
    <form
        class="flex flex-col gap-4"
        hx-post="/preferences?time_slot_id={{ time_slot.id }}"
        hx-target="#preferences-content"
        hx-swap="outerHTML"
    >
        <div class="flex flex-col gap-4">
            {% for game, table_allocation, preference in preferences_data %}
                <div class="flex w-full flex-row gap-2">
                    {{
                        render_partial('shared/partials/game_preference_rating.html.jinja', input_name="rating-" ~ table_allocation.id ,
                        enable_d20=true, starting_value=preference)
                    }}
                    <span>
                        <span id="game-title-{{ game.id }}" class="mr-1 transition-all duration-500"
                            >{{ game.title }} | {{ game.system.name }}</span
                        >
                        <div
                            class="inline cursor-pointer"
                            style="width: 1em; height: 1em;"
                            hx-get="/games/{{ game.id }}"
                            hx-target="#content"
                            hx-select="#content"
                            hx-push-url="true"
                            _="on click close() on #modal-dialog"
                        >
                            <svg
                                class="btn btn-circle btn-outline btn-neutral inline aspect-square"
                                style="width: 1em; height: 1em; min-height: 1em; display: inline;"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                class="bi bi-info"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                                />
                            </svg>
                        </div>
                    </span>
                </div>
            {% endfor %}
        </div>
        <div class="flex w-full flex-col items-center">
            <button type="submit" class="btn btn-primary">Save Preferences</button>
        </div>
    </form>
</div>
