<form hx-put="/edit_profile" hx-target="this" hx-swap="outerHTML">
    <h2 class="font-bold">Edit Profile</h2>
    <label class="input input-bordered flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
            <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
            />
        </svg>
        <input
            type="text"
            name="name"
            id="name"
            class="grow"
            placeholder="Full Name"
            value="{{ user.name }}"
            required
        />
    </label>
    {# TODO: Remove the golden d20 debugger when admin API is created #}
    <input class="input input-bordered" name="golden_d20s" type="number" value="{{ user.golden_d20s }}" />
    <button class="btn btn-primary" type="submit">Save</button>
    {# TODO: Only swap the form back #}
    <button
        class="btn btn-outline btn-error"
        type="button"
        hx-get="/me"
        hx-target="#content"
        hx-select="#content"
        hx-swap="outerHTML"
    >
        Cancel
    </button>
</form>
