{% if alerts %}
    <div class="toast">
        {% for alert in alerts %}
            <div
                class="{{ alert.alert_class }} alert transition-opacity duration-1000 ease-in-out"
                _="on load
                            wait 3000ms
                            then set my.style.opacity to 0
                            then wait 1000ms
                            then remove me"
            >
                {{ alert.message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
