{% extends "shared/_layout.html.jinja" %}
{% block title %}Games - Convergence 2024{% endblock %}
{% block content %}
    <title>Games - Convergence 2024</title>
    <div class="mx-auto grid grid-cols-1 gap-4 xl:container">
        <form
            id="filter-form"
            hx-get="/games"
            hx-target="#game_list"
            hx-trigger="change delay:200ms"
            hx-select="#game_list"
            hx-swap="outerHTML"
        >
            <div class="flex flex-col gap-4 md:flex-row">
                {{ render_partial('shared/partials/multiselect_dropdown.html.jinja', options=genre_options, title='Genre', form_name='genre') }}
                {{ render_partial('shared/partials/multiselect_dropdown.html.jinja', options=system_options, title='System', form_name='system') }}
                {{ render_partial('shared/partials/multiselect_dropdown.html.jinja', options=time_slot_options, title='Time Slot', form_name='time_slot') }}
                {{ render_partial('shared/partials/multiselect_dropdown.html.jinja', options=crunch_options, title='Crunch', form_name='crunch') }}
            </div>
        </form>
        <div id="game_list" class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {% for game in games %}
                {{ render_partial('shared/partials/game_card.html.jinja', game=game) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
