{% extends "shared/_layout.html.jinja" %}
{% block title %}{{ game.title }} - Convergence 2024{% endblock %}
{% block content %}
    <title>{{ game.title }} - Convergence 2024</title>
    <div>
        <h1 class="font-sans text-2xl antialiased">{{ game.title }}</h1>
        <h2 class="font-sans antialiased">{{ game.system.name }}</h2>
        <ul>
            {% for genre in game.genres %}
                <li class="mr-1 inline-block rounded-full bg-gray-200 px-3 py-1 text-xs font-semibold text-gray-700">
                    {{ genre.name }}
                </li>
            {% endfor %}
        </ul>
        <p>{{ game.description }}</p>
        <h2>Sessions</h2>
        <form>
            <ul class="flex flex-col">
                {% for table_allocation in game.table_allocations %}
                    <li class="flex flex-row">
                        {# {{
                            render_partial('shared/partials/game_preference_rating.html.jinja', input_name="rating-" ~ table_allocation.id ,
                            enable_d20=true)
                        }} #}
                        {# _="on click wait for htmx:afterOnLoad from #modal-content then showModal() on #modal-dialog then go to the top of #game-title-{{ game.id }}" #}
                        <span
                            hx-target="#modal-content"
                            hx-get="/preferences?time_slot_id={{ table_allocation.time_slot.id }}"
                            _="on click
                            wait for htmx:afterSettle from #modal-content
                            then showModal() on #modal-dialog
                            then add .text-accent to #game-title-{{ game.id }}
                            then go to the middle of #game-title-{{ game.id }}"
                        >
                            {{ table_allocation.time_slot.start_time.strftime('%H:%M') }} -
                            {{ table_allocation.time_slot.end_time.strftime('%H:%M') }} on
                            {{ table_allocation.time_slot.start_time.strftime('%A') }} @ Table
                            {{ table_allocation.table_number }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </form>
        <button
            type="button"
            class="btn btn-outline btn-secondary"
            hx-get="/games"
            hx-target="#content"
            hx-select="#content"
            hx-push-url="true"
        >
            Back to Games
        </button>
    </div>
{% endblock %}
