{% extends "shared/_layout.html.jinja" %}
{% block title %}{{ game.title }} - Convergence 2024{% endblock %}
{% block content %}
    <title>{{ game.title }} - Convergence 2024</title>
    <div class="mx-auto flex max-w-screen-lg flex-col gap-2">
        <h1 class="text-2xl font-semibold antialiased">{{ game.title }}</h1>
        <h2 class="text-xl antialiased">{{ game.system.name }} | Run by {{ game.gamemaster.name }}</h2>
        {{ render_partial('shared/partials/game_quick_info.html.jinja', game=game) }}
        <p class="whitespace-pre-line">{{ game.description }}</p>
        {% if FLAG_SCHEDULE %}
            <h2>Sessions</h2>
            <form>
                <ul class="flex flex-col">
                    {% for table_allocation in game.table_allocations %}
                        <li class="flex flex-row">
                            {# {{
                            render_partial('shared/partials/game_preference_rating.html.jinja', input_name="rating-" ~ table_allocation.id ,
                            enable_d20=true)
                        }} #}
                            {# _="on click wait for htmx:afterOnLoad from #modal-content then showModal() on #modal-dialog then go to the top of #game-title-{{ game.id }}" #}
                            <span
                                hx-target="#modal-content"
                                hx-get="/preferences?time_slot_id={{ table_allocation.time_slot.id }}"
                                _="on click
                            wait for htmx:afterSettle from #modal-content
                            then showModal() on #modal-dialog
                            then add .text-accent to #game-title-{{ game.id }}
                            then go to the middle of #game-title-{{ game.id }}"
                            >
                                {{ table_allocation.time_slot.start_time.strftime('%H:%M') }} -
                                {{ table_allocation.time_slot.end_time.strftime('%H:%M') }} on
                                {{ table_allocation.time_slot.start_time.strftime('%A') }} @ Table
                                {{ table_allocation.table_number }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        {% endif %}
        <p class="text-sm text-warning">Note: Game details are subject to change until the schedule is finalised.</p>
    </div>
{% endblock %}
