{% extends "shared/_layout.html.jinja" %}
{% block title %}Convergence 2024{% endblock %}
{% block content %}
    <title>Convergence 2024</title>
    <div>
        <h1>TODO</h1>
    </div>
{% endblock %}
