{% extends "shared/_layout.html.jinja" %}
{% block title %}Convergence 2024{% endblock %}
{% block content %}
    <title>Convergence 2024</title>

    <div class="container mx-auto flex max-w-2xl flex-col gap-2">
        <h1 class="text-2xl">Welcome to Convergence!</h1>
        <div class="flex flex-col justify-items-center">
            <a hx-get="/games" hx-target="#content" hx-select="#content" hx-push-url="true" hx-swap="outerHTML">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-dice-6-fill inline"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3zm1 5.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m8 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m1.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M12 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M4 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
                    />
                </svg>
                <span class="link">View the Games</span>
            </a>
            <a href="https://convergence-2024.lilregie.com">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-ticket-perforated-fill inline"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4-1v1h1v-1zm1 3v-1H4v1zm7 0v-1h-1v1zm-1-2h1v-1h-1zm-6 3H4v1h1zm7 1v-1h-1v1zm-7 1H4v1h1zm7 1v-1h-1v1zm-8 1v1h1v-1zm7 1h1v-1h-1z"
                    />
                </svg>
                <span class="link">Get Tickets</span>
            </a>
            <a href="https://linktr.ee/waikatoroleplayingguild">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-link-45deg inline"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"
                    />
                    <path
                        d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"
                    />
                </svg>
                <span class="link">See our LinkTree</span>
            </a>
        </div>

        <h2 class="text-xl">What is Convergence?</h2>
        <p>
            Convergence is a 2 day games convention, organised by The Waikato Role-Playing Guild. The aim is to give new
            and experienced players a chance to meet like minded people, make new friends, try new games and have a
            blast doing so. At Convergence there will be games running, seminars, socialising, and vendors providing a
            range of gaming related equipment.
        </p>
        <p>
            The games will run in 3 and 4 hour slots, depending on the game itself. All the games will be run as
            “one-shots” meaning it will be a self-contained adventure within the time slot. There will be games for
            newbies and experienced players alike. Pre-generated characters will be provided where needed. We'll make
            sure you have everything you need to hit the ground running and have a fantastic weekend.
        </p>

        <p class="text-sm text-warning">
            This website is a work in progress! For now, check out the games and our socials below!
        </p>
    </div>
{% endblock %}
