{% extends "shared/_layout.html.jinja" %}
{% block title %}Players - Convergence 2024{% endblock %}
{% block content %}
    <title>Players - Convergence 2024</title>
    <div class="sticky left-0 top-0 z-10">
        <div class="drawer">
            <input type="checkbox" id="actions-drawer" name="force_override" class="drawer-toggle" />
            <div class="drawer-content w-fit">
                <label for="actions-drawer" class="w-fit">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="40"
                        height="40"
                        fill="currentColor"
                        class="bi bi-list-ul rounded-full bg-base-100 p-1"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
                        />
                    </svg>
                </label>
            </div>
            <div class="drawer-side">
                <label for="actions-drawer" aria-label="close sidebar" class="drawer-overlay"> </label>
                <ul class="menu min-h-full gap-2 bg-base-200">
                    <li>
                        <label class="input input-bordered flex items-center gap-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 16"
                                fill="currentColor"
                                class="h-4 w-4 opacity-70"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            <input
                                type="password"
                                name="X-API-Key"
                                class="grow"
                                value="{{ api_key }}"
                                placeholder="API Key"
                            />
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mx-auto grid grid-cols-1 gap-4 xl:container">
        <h1 class="text-2xl font-semibold antialiased">Player Management</h1>

        <div id="player_contents">
            {% block player_contents %}
                <div class="overflow-x-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th>
                                    <div
                                        class="mask-d20 mask grid h-6 w-6 place-items-center bg-yellow-400 leading-none text-base-100"
                                    >
                                        <span class="font-bold">20</span>
                                    </div>
                                </th>
                                <th>Comp</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="player_list">
                            {% for person in people %}
                                {{ render_partial('shared/partials/person_row_view.html.jinja', person=person) }}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <button
                                        class="btn btn-primary"
                                        hx-get="/admin/person_row_edit?create=true"
                                        hx-headers='javascript:{"X-API-Key":document.querySelector("input[name=X-API-Key]").value}'
                                        hx-target="#player_list"
                                        hx-swap="beforeend"
                                    >
                                        Add Player
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
