{% extends "shared/_layout.html.jinja" %}
{% block title %}My Profile - Convergence 2024{% endblock %}
{% block content %}
    <title>My Profile - Convergence 2024</title>

    {{ render_partial('shared/partials/profile_info.html.jinja', user=user) }}
    <button type="button" class="btn btn-outline btn-error" hx-post="/logout" hx-target="#content" hx-push-url="false">
        Logout
    </button>
{% endblock %}
