{% extends "shared/_layout.html.jinja" %}
{% block title %}My Profile{% endblock %}
{% block content %}
  <title>My Profile - Convergence 2024</title>

  <script>
    console.log("{{ request.headers['hx-request'] }}");
  </script>
  <p>{{ user }}</p>
  <button
    type="button"
    class="btn btn-outline btn-error"
    hx-post="/logout"
    hx-target="#wrapper"
    hx-select="#wrapper"
    hx-push-url="false"
  >
    Logout
  </button>
{% endblock %}
