{% extends "shared/_layout.html.jinja" %}
{% block title %}My Schedule - Convergence 2024{% endblock %}
{% block content %}
    <title>My Schedule - Convergence 2024</title>

    <div class="mx-auto grid grid-cols-1 gap-4 xl:container">
        <h1 class="text-2xl font-semibold antialiased">My Schedule</h1>

        <form id="filter-form" hx-get="/schedule" hx-target="#schedule_contents" hx-push-url="true" hx-trigger="change">
            <select name="time_slot_id" class="select select-bordered w-full max-w-lg">
                <option value="1" {% if time_slot.id == 1 %}selected{% endif %}>Saturday Morning</option>
                <option value="2" {% if time_slot.id == 2 %}selected{% endif %}>Saturday Afternoon</option>
                <option value="3" {% if time_slot.id == 3 %}selected{% endif %}>Saturday Evening</option>
                <option value="4" {% if time_slot.id == 4 %}selected{% endif %}>Sunday Morning</option>
                <option value="5" {% if time_slot.id == 5 %}selected{% endif %}>Sunday Afternoon</option>
            </select>
        </form>

        <div id="schedule_contents">
            {% block schedule_contents %}
                <div class="grid grid-cols-1 gap-4">
                    {% if committed_table_allocation %}
                        <h2 class="text-xl font-semibold antialiased">You are playing in:</h2>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                            {{ render_partial('shared/partials/game_card.html.jinja', game=committed_table_allocation.game) }}
                        </div>
                        <h2 class="text-lg font-semibold antialiased">
                            At {{ committed_table_allocation.table.short_description }}
                        </h2>
                        <div class="flex flex-col">
                            {% for group in table_summary.groups %}
                                {% for player in group.members %}
                                    <span>
                                        {{ player.name }}
                                        {% if group.is_gm %}
                                            <span class="badge badge-outline gap-2 text-yellow-400"> GM </span>
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% elif gm_game %}
                        <h2 class="text-xl font-semibold antialiased">Game Mastering on {{ time_slot.name }}</h2>
                        <p class="opacity-50">You are running a game this session!</p>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                            {{ render_partial('shared/partials/game_card.html.jinja', game=gm_game) }}
                        </div>
                        <p class="opacity-50">
                            However, in case there aren't enough players for your game to run, you may set preferences:
                        </p>
                    {% else %}
                        <h2 class="text-xl font-semibold antialiased">
                            Adventuring Party
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-people-fill inline"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"
                                />
                            </svg>
                        </h2>
                        {% if adventuring_group.members|length == 1 %}
                            {{ render_partial('shared/partials/adventuring_party_alone.html.jinja', adventuring_group=adventuring_group) }}
                        {% else %}
                            {{ render_partial('shared/partials/adventuring_party_joined.html.jinja', adventuring_group=adventuring_group) }}
                        {% endif %}
                    {% endif %}
                    <h2 class="text-xl font-semibold antialiased">Game Preferences for {{ time_slot.name }}</h2>
                    <div id="checkin_contents">
                        {% block checkin_contents %}
                            {% if time_slot.is_open_for_checkin %}
                                <label class="label w-full cursor-pointer justify-start gap-4">
                                    <input
                                        type="checkbox"
                                        id="checkin"
                                        name="checkin"
                                        class="peer checkbox-accent checkbox"
                                        hx-post="/checkin?time_slot_id={{ time_slot.id }}"
                                        hx-swap="none"
                                        hx-trigger="change"
                                        {% if adventuring_group.checked_in %}checked{% endif %}
                                    />
                                    <span class="label-text peer-checked:hidden"
                                        >Not Checked In. You won't be a player this session.</span
                                    >
                                    <span class="label-text hidden peer-checked:inline"
                                        >Playing! Set your preferences below.</span
                                    >
                                </label>
                            {% else %}
                                <label class="label w-full justify-start gap-4">
                                    <span class="label-text"
                                        >Session check-in open in about
                                        {{ (time_slot.open_time - now()) | naturaltime }}</span
                                    >
                                </label>
                            {% endif %}
                        {% endblock %}
                    </div>
                    <div id="game_list" class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                        {% block game_list %}
                            {% for game, table_allocation, session_preference in preferences_data %}
                                {{ render_partial('shared/partials/game_card.html.jinja', game=game, adventuring_group=adventuring_group, table_allocation_id=table_allocation.id, current_preference=session_preference) }}
                            {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
